force-app/main/default/flows/Cancel_Declined_Order_Items_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Order_Item_Summaries_Submit</name>
        <label>Cancel Order Item Summaries Submit</label>
        <locationX>1385</locationX>
        <locationY>337</locationY>
        <actionName>cancelOrderItemSummariesSubmit</actionName>
        <actionType>cancelOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>CreateCreditMemoInputRepresentation_assign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Process_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SubmitCancelOutputRepresentation</assignToReference>
            <name>submitCancelOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Credit_Memo</name>
        <label>Create Credit Memo</label>
        <locationX>1538</locationX>
        <locationY>536</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>Order_Payment_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Process_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference>CreateCreditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreateCreditMemoOutputRepresentation</assignToReference>
            <name>creditMemoOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>add_amount_for_OLI</name>
        <label>add amount for OLI</label>
        <locationX>698</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>TotalQtyLeftToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityLeftToCancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Input_Representation_Assignment</name>
        <label>Change Input Representation Assignment</label>
        <locationX>1122</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>changeInputRepresentation.changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCI_Interaction_FOs1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Input_Representation_Assignment</name>
        <label>Change Item Input Representation Assignment</label>
        <locationX>1286</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCI_Interaction_FOs1.FulfillmentOrderItem__r.OrderItemSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCI_Interaction_FOs1.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shippingReductionFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Input_Representation_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_declined_items_0</name>
        <label>count declined items</label>
        <locationX>372</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>declinedQuantityCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCI_Interaction_FOs1.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCI_Interaction_FOs1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateCreditMemoInputRepresentation_assign</name>
        <label>CreateCreditMemoInputRepresentation</label>
        <locationX>1539</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>CreateCreditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubmitCancelOutputRepresentation.changeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit_Memo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refund_ass</name>
        <label>Refund</label>
        <locationX>1669</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>Refund.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmitCancelOutputRepresentation.changeBalances.grandTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmitCancelOutputRepresentation.changeBalances.grandTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Payment_Summary.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.OrderPaymentSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Payment_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NonReferenced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.ProcessingMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_shipping_Reduction_Flag</name>
        <label>set shipping Reduction Flag</label>
        <locationX>942</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCI_Interaction_FOs1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Everything_declined</name>
        <label>Everything declined?</label>
        <locationX>756</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>OCI_Interaction_FOs1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>declinedQuantityCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalQtyLeftToCancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_shipping_Reduction_Flag</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_product_OLI</name>
        <label>is product OLI</label>
        <locationX>518</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>count_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_items.TypeCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_amount_for_OLI</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Trigger on complete decline instead of per order item, so that we can create one Credit Memo and Refund</description>
    <environments>Default</environments>
    <formulas>
        <name>QuantityLeftToCancel</name>
        <dataType>Number</dataType>
        <expression>{!count_items.QuantityNetOrdered} - {!count_items.QuantityShipped}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Cancel Declined Order Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Declined Order Items</label>
    <loops>
        <name>count_items</name>
        <label>count items</label>
        <locationX>529</locationX>
        <locationY>343</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_product_OLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Everything_declined</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OCI_Interaction_FOs1</name>
        <label>OCI Interaction FOs</label>
        <locationX>1204</locationX>
        <locationY>335</locationY>
        <collectionReference>OCI_Interaction_FOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Input_Representation_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cancel_Order_Item_Summaries_Submit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OCI_Interaction_FOs1_0</name>
        <label>OCI Interaction FOs</label>
        <locationX>374</locationX>
        <locationY>345</locationY>
        <collectionReference>OCI_Interaction_FOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>count_declined_items_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>count_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>1393</locationX>
        <locationY>534</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Declined Shipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <stringValue>Cancel Declined Order Items flow failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionId__c</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.Transaction_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Refund</name>
        <label>Create Refund</label>
        <locationX>1669</locationX>
        <locationY>542</locationY>
        <inputReference>Refund</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>153</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OCI_Interaction_FOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OCI_Interaction_FOs</name>
        <label>OCI Interaction FOs</label>
        <locationX>279</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OCI_Interaction_FOs1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCIInteractionFulfillOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OCIInteractionFulfillOrderItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>FulfillmentOrderItem__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Payment_Summary</name>
        <label>Order Payment Summary</label>
        <locationX>1539</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refund_ass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>72</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Get_Order_Item_Summaries</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSFER_CANCEL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </filters>
        <object>OCIInteractionFulfillOrder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>changeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateCreditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateCreditMemoOutputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>declinedQuantityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderedItemQuantityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProcessException</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>Refund</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Refund</objectType>
    </variables>
    <variables>
        <name>shippingReductionFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SubmitCancelOutputRepresentation</name>
        <apexClass>ConnectApi__SubmitCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalQtyLeftToCancel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
