force-app/main/default/flows/Change_safetystock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Safety_Stock_in_Warehouse</name>
        <label>Update Safety Stock in Warehouse</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>OCICommerceAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>location</name>
            <value>
                <elementReference>choose_location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>safetyStock</name>
            <value>
                <elementReference
        >New_Safetystock_value_for_all_SKUs</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description
  >Screenflow to set a new value for all SKUs in a warehouse</description>
    <dynamicChoiceSets>
        <name>choose_location</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>Location</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <valueField>ExternalReference</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Change safetystock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change safetystock</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description
    >Select the warehouse and set the safetystock number for all SKUs in that warehouse</description>
        <name>Set_safetystock_for_warehouse</name>
        <label>Set safetystock for warehouse</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Update_Safety_Stock_in_Warehouse</targetReference>
        </connector>
        <fields>
            <name>Warehouse</name>
            <choiceReferences>choose_location</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Warehouse</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Safetystock_value_for_all_SKUs</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>safetyStockValue</elementReference>
            </defaultValue>
            <fieldText>New Safetystock value (for all SKUs)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Update Safety Stock</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_safetystock_for_warehouse</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>safetyStockValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
