force-app/main/default/flows/Create_Order_Summary_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_Summary_Action</name>
        <label>Create Order Summary Action</label>
        <locationX>932</locationX>
        <locationY>324</locationY>
        <actionName>createOrderSummary</actionName>
        <actionType>createOrderSummary</actionType>
        <connector>
            <targetReference>Update_Subscription_Checkbox</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Process_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOrderSummaryInput</name>
            <value>
                <elementReference
        >OrderSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >OrderSummaryOutputRepresentation</assignToReference>
            <name>createOrderSummaryOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Order_Id</name>
        <label>Order Id, Order Life Cycle, and Order Business Model</label>
        <locationX>933</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference
      >OrderSummaryInputRepresentation.orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderSummaryInputRepresentation.orderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Managed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderSummaryInputRepresentation.businessModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2C</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Summary_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Order_Summary_Exist</name>
        <label>Does Order Summary Exist?</label>
        <locationX>657</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Order_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>orderSummaryExistYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Existing_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description
  >removed Reservation but kept Payment Summary Update</description>
    <environments>Default</environments>
    <interviewLabel
  >Create Order Summary JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order Summary JDE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>666</locationX>
        <locationY>322</locationY>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Order Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Order_Summary</name>
        <label>Get Existing Order Summary</label>
        <locationX>528</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Order_Summary_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.OrderReferenceNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderLifeCycleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MANAGED</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesChannelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Payment_Summary</name>
        <label>Order Payment Summary</label>
        <locationX>794</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Authorisation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >OrderSummaryOutputRepresentation.orderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Payment_Authorisation</name>
        <label>Payment Authorisation</label>
        <locationX>661</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderPaymentSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Payment_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentAuthorization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Payment</name>
        <label>Payment</label>
        <locationX>528</locationX>
        <locationY>484</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentAuthorizationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payment_Authorisation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderPaymentSummaryId</field>
            <value>
                <elementReference>Order_Payment_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Payment</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >transfer the value IsSubscriptionOrder from original Order to OrderSummary</description>
        <name>Update_Subscription_Checkbox</name>
        <label>Update Subscription Checkbox</label>
        <locationX>933</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>Order_Payment_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >OrderSummaryOutputRepresentation.orderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsSubscriptionOrder__c</field>
            <value>
                <elementReference
        >$Record.IsSubscriptionOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <sourceTemplate>runtime_commerce_oms__Create_OS</sourceTemplate>
    <start>
        <locationX>108</locationX>
        <locationY>61</locationY>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue />
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Future</name>
            <connector>
                <targetReference>Get_Existing_Order_Summary</targetReference>
            </connector>
            <label>Future</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;Something went wrong and Order Summary is not created. Please check if all necessary fields have information and correct data type.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OrderSumIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
