force-app/main/default/flows/Create_or_Release_Reservation_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Order_Item_Summaries_to_Collection</name>
        <label>Add Order Item Summaries to Collection</label>
        <locationX>2090</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InteractionOrderItemSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Both_Create_And_Release_Error</name>
        <label>Both Create And Release Error</label>
        <locationX>1546</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionInput.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Cannot_Create_And_Release_Error</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionInput.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getChangeOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Create</name>
        <label>Interaction Order Create</label>
        <locationX>1745</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CREATE_RESERVATION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Item_Input_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Input</name>
        <label>Interaction Order Input</label>
        <locationX>1051</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.OrderSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.OrderDeliveryGroupSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.ConnectionFailAttempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetScheduleTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input</name>
        <label>Interaction Order Item Input</label>
        <locationX>1882</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.OrderItemSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Summary.QuantityCanceled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.FromLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Summary.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.ToLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RELEASE_RESERVATION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Item_Summaries_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input_0</name>
        <label>Interaction Order Item Input</label>
        <locationX>1888</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.OrderItemSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Summary.QuantityOrdered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.ToLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Summary.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.FromLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CREATE_RESERVATION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Item_Summaries_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Release</name>
        <label>Interaction Order Release</label>
        <locationX>1742</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RELEASE_RESERVATION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Item_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Reservation_Location_Error</name>
        <label>No Reservation Location Error</label>
        <locationX>1371</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionInput.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.No_Reservation_Location_For_Item_Error</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionInput.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Order_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Event_Change_Order</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CO</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Anything_To_Create</name>
        <label>Anything To Create</label>
        <locationX>1838</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Order_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteractionOrderItemSummaryCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Order</targetReference>
            </connector>
            <label>Has Order Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Event_Type</name>
        <label>Check Event Type</label>
        <locationX>168</locationX>
        <locationY>284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedOrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getChangeOrder</targetReference>
            </connector>
            <label>Change Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Reservation_Location</name>
        <label>Has Reservation Location</label>
        <locationX>1359</locationX>
        <locationY>783</locationY>
        <defaultConnector>
            <targetReference>Order_Item_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Valid</defaultConnectorLabel>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary.ReservedAtLocationId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Reservation_Location_Error</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Return</name>
        <label>Is Return?</label>
        <locationX>1010</locationX>
        <locationY>784</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Item_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product_SummaryChanges.ChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Order_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Add</name>
        <label>Is Valid Add</label>
        <locationX>1596</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Both_Create_And_Release_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InteractionOrderSummaryInput.Type__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InteractionOrderSummaryInput.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CREATE_RESERVATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Order_Create</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Release</name>
        <label>Is Valid Release</label>
        <locationX>1534</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Both_Create_And_Release_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Valid_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InteractionOrderSummaryInput.Type__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InteractionOrderSummaryInput.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RELEASE_RESERVATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Order_Release</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type</label>
        <locationX>829</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Change_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Change_Order_Items.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Product_SummaryChanges</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Item_Type</name>
        <label>Order Item Type</label>
        <locationX>1368</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Change_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_Order_Items.RelatedOrderItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Change_Order_Items.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Valid_Add</targetReference>
            </connector>
            <label>Item Added</label>
        </rules>
        <rules>
            <name>Item_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_Order_Items.RelatedOrderItemId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Change_Order_Items.Quantity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Valid_Release</targetReference>
            </connector>
            <label>Item Removed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetScheduleTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Create or Release Reservation JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create or Release Reservation JDE</label>
    <loops>
        <name>Change_Order_Items</name>
        <label>Change Order Items</label>
        <locationX>1050</locationX>
        <locationY>436</locationY>
        <collectionReference>Get_Change_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Anything_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Order_Item_Inputs</name>
        <label>Interaction Order Item Inputs</label>
        <locationX>2189</locationX>
        <locationY>397</locationY>
        <collectionReference>InteractionOrderItemSummaryCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interaction_Order_Item</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>1064</locationX>
        <locationY>1011</locationY>
        <connector>
            <targetReference>Change_Order_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>ProcessExceptionInput.AttachedToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ProcessExceptionInput.Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Process_Exception_0</name>
        <label>Create Process Exception</label>
        <locationX>1759</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>getChangeOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ProcessExceptionInput.Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Order</name>
        <label>Interaction Order</label>
        <locationX>2004</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>Interaction_Order_Item_Inputs</targetReference>
        </connector>
        <inputAssignments>
            <field>ConnectionFailAttempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderDeliveryGroupSummary__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.OrderDeliveryGroupSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummary__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Order_Item</name>
        <label>Interaction Order Item</label>
        <locationX>2190</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Interaction_Order_Item_Inputs</targetReference>
        </connector>
        <inputAssignments>
            <field>FromLocationGroup__c</field>
            <value>
                <elementReference>Interaction_Order_Item_Inputs.FromLocationGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCIInteractionOrderSummary__c</field>
            <value>
                <elementReference>Interaction_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemSummary__c</field>
            <value>
                <elementReference>Interaction_Order_Item_Inputs.OrderItemSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Interaction_Order_Item_Inputs.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToLocationGroup__c</field>
            <value>
                <elementReference>Interaction_Order_Item_Inputs.ToLocationGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>InteractionOrderItemSummary.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderItemSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Change_Order_Items</name>
        <label>Get Change Order Items</label>
        <locationX>527</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getChangeOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>907</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Order_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>787</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>1179</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Reservation_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Product_SummaryChanges.OrderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_SummaryChanges</name>
        <label>Get Order Product Summary Changes</label>
        <locationX>839</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeOrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Change_Order_Items.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummaryChange</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>656</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChangeOrder</name>
        <label>GetChangeOrder</label>
        <locationX>393</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Change_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Event_Type</targetReference>
        </connector>
        <object>OrderStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InteractionOrderItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>InteractionOrderItemSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>InteractionOrderSummaryInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>ProcessExceptionInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
</Flow>
