force-app/main/default/flows/Create_Invoice_Ensure_Funds_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>1506</locationX>
        <locationY>406</locationY>
        <actionName>createInvoiceFromFulfillmentOrder</actionName>
        <actionType>createInvoiceFromFulfillmentOrder</actionType>
        <connector>
            <targetReference>Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Process_Exception_Message_Invoice</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FulfillmentOrderInvoiceOutput</assignToReference>
            <name>fulfillmentOrderInvoiceOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Funds</name>
        <label>Ensure Funds</label>
        <locationX>2055</locationX>
        <locationY>405</locationY>
        <actionName>ensureFundsOrderSummaryAsync</actionName>
        <actionType>ensureFundsOrderSummaryAsync</actionType>
        <faultConnector>
            <targetReference>Process_Exception_Message_EF</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureFundsAsyncInput</name>
            <value>
                <elementReference
        >EnsureFundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Ensure_Funds_Input</name>
        <label>Ensure Funds Input</label>
        <locationX>1918</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference
      >EnsureFundsAsyncInputRepresentation.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >FulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Funds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Exception_Message_EF</name>
        <label>Process Exception Message</label>
        <locationX>2054</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference
      >ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Ensure_Funds_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Exception_Message_Invoice</name>
        <label>Process Exception Message</label>
        <locationX>1504</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference
      >ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Create_Invoice_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Exception_Record</name>
        <label>Process Exception Record</label>
        <locationX>1778</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference
      >ProcessExceptionRecord.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ProcessExceptionRecord.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ProcessExceptionRecord.Severity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ProcessExceptionRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ProcessExceptionRecord.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoicing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ProcessExceptionRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fulfilled</name>
        <label>Fulfilled?</label>
        <locationX>490</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fulfilled_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Order_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type?</label>
        <locationX>931</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery Charge</defaultConnectorLabel>
        <rules>
            <name>Item_Type_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Fulfillment_Order_Items_Loop.TypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Fulfillment_Order_Items_Loop.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reserved_At</name>
        <label>Reserved At?</label>
        <locationX>1176</locationX>
        <locationY>859</locationY>
        <defaultConnector>
            <targetReference
      >Interaction_Fulfill_Order_Item_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location</defaultConnectorLabel>
        <rules>
            <name>Reserved_At_Location_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Order_Item.ReservedAtLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0gh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Interaction_Fulfill_Order_Item_Location_Group</targetReference>
            </connector>
            <label>Location Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zero_Balance</name>
        <label>Zero Balance?</label>
        <locationX>1753</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Ensure_Funds_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_zero_balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice.Balance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Order Management, OCI, JDE</description>
    <environments>Default</environments>
    <formulas>
        <name>GetScheduleTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel
  >Create Invoice, Ensure Funds JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice, Ensure Funds JDE</label>
    <loops>
        <name>Fulfillment_Order_Items_Loop</name>
        <label>Fulfillment Order Items</label>
        <locationX>1077</locationX>
        <locationY>405</locationY>
        <collectionReference>Fulfillment_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Interaction_Fulfill_Order</name>
        <label>Interaction Fulfill Order</label>
        <locationX>920</locationX>
        <locationY>405</locationY>
        <assignRecordIdToReference
    >OCIInteractionFulfillOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ConnectionFailedAttempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrder__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>GetScheduleTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>FULFILLMENT</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Fulfill_Order_Item_Location</name>
        <label>Interaction Fulfill Order Item</label>
        <locationX>1183</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>FromLocation__c</field>
            <value>
                <elementReference
        >Order_Item.ReservedAtLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderItem__c</field>
            <value>
                <elementReference
        >Fulfillment_Order_Items_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCIInteractionFulfillOrder__c</field>
            <value>
                <elementReference
        >OCIInteractionFulfillOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference
        >Fulfillment_Order_Items_Loop.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToLocation__c</field>
            <value>
                <elementReference
        >$Record.FulfilledFromLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>FULFILLMENT</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Fulfill_Order_Item_Location_Group</name>
        <label>Interaction Fulfill Order Item</label>
        <locationX>1368</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>FromLocationGroup__c</field>
            <value>
                <elementReference
        >Order_Item.ReservedAtLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderItem__c</field>
            <value>
                <elementReference
        >Fulfillment_Order_Items_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCIInteractionFulfillOrder__c</field>
            <value>
                <elementReference
        >OCIInteractionFulfillOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference
        >Fulfillment_Order_Items_Loop.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToLocation__c</field>
            <value>
                <elementReference
        >$Record.FulfilledFromLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>FULFILLMENT</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>1778</locationX>
        <locationY>829</locationY>
        <inputReference>ProcessExceptionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order_Items</name>
        <label>Fulfillment Order Items</label>
        <locationX>701</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Fulfill_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Invoice</name>
        <label>Invoice</label>
        <locationX>1635</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Zero_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >FulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item</name>
        <label>Order Item</label>
        <locationX>939</locationX>
        <locationY>857</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reserved_At</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Fulfillment_Order_Items_Loop.OrderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ReservedAtLocationId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>372</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Fulfilled</targetReference>
            </connector>
            <label>Scheduled</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnsureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderInvoiceOutput</name>
        <apexClass
    >ConnectApi__FulfillmentOrderInvoiceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIInteractionFulfillOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessExceptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
</Flow>
