force-app/main/default/flows/Declined_Shipment_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Update_To_Magento</name>
        <label>Send Update To Magento</label>
        <locationX>822</locationX>
        <locationY>397</locationY>
        <actionName>RestServiceDeclinedShipment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Declined_Shipments_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>Declined_Shipments_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RetryNumber</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Removed the OCI/OMS side, as this is now done in code (RestServiceShipment)</description>
    <environments>Default</environments>
    <interviewLabel>Declined Shipment JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Declined Shipment JDE</label>
    <loops>
        <name>Declined_Shipments_Loop</name>
        <label>Declined Shipments Loop</label>
        <locationX>820</locationX>
        <locationY>207</locationY>
        <collectionReference>Get_Declined_Shipments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Update_To_Magento</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Declined_Shipments</name>
        <label>Get Declined Shipments</label>
        <locationX>666</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declined_Shipments_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DeclinedShipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>151</locationX>
        <locationY>110</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CANCELLED</stringValue>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Cancel_Shipment</name>
            <connector>
                <targetReference>Get_Declined_Shipments</targetReference>
            </connector>
            <label>Cancel Shipment</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>changeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfillmentOrderItemsToCancel</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfillmentOrderLineItemRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantitytocancel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
