force-app/main/default/flows/Fulfilment_Order_Cancel_or_Reject_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Fulfillment_Order_Item</name>
        <label>Cancel Fulfillment Order Item</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>cancelFulfillmentOrderItem</actionName>
        <actionType>cancelFulfillmentOrderItem</actionType>
        <faultConnector>
            <targetReference>ErrorForFOChange</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderLineItemsToCancelInput</name>
            <value>
                <elementReference>SingleFulfillmentOrderLineItemsToCancelInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>FOLineItemsToCancelInputRepresentation</name>
        <label>FOLineItemsToCancelInputRepresentation</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SingleFulfillmentOrderLineItemsToCancelInputRepresentation.fulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentOrderLineItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Fulfillment_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FulfillmentOrderLineItemInputRepresentationAssign</name>
        <label>FulfillmentOrderLineItemInputRepresentation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderLineItemInputRepresentation.fulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderLineItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>declinedQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FOLineItemsToCancelInputRepresentation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Fulfilment Order Cancel or Reject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfilment Order Cancel or Reject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ErrorForFOChange</name>
        <label>ErrorForFOChange</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PossibleReasonForError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order_Items</name>
        <label>Fulfillment Order Items</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FulfillmentOrderLineItemInputRepresentationAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OriginalQuantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fulfillment_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfilmentOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PossibleReasonForError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please check Fulfilment order status. If Status == Fulfilled you won&apos;t be able to modify anything in the order (eg cancel lines). &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>declinedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FOItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderLineItemInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderLineItemsInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderLineItemsToCancelInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FulfilmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleFulfillmentOrderLineItemsToCancelInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
