force-app/main/default/flows/Fulfill_Reservation_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OCI_Fulfill_Reservation</name>
        <label>OCI Fulfill Reservation</label>
        <locationX>1132</locationX>
        <locationY>380</locationY>
        <actionName>ociFulfillReservation</actionName>
        <actionType>ociFulfillReservation</actionType>
        <connector>
            <targetReference>Fulfillment_Successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Limit_Reached</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociFulfillReservationInput</name>
            <value>
                <elementReference
        >OCIFulfillReservationInputList</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Fulfill_Reservation_Input</name>
        <label>Fulfill Reservation Input</label>
        <locationX>707</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference
      >OCIFulfillReservationSingleInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Items_to_Fulfill.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIFulfillReservationSingleInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIFulfillReservationSingleInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Fulfill.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIFulfillReservationSingleInputRepresentation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Fulfill.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIFulfillReservationSingleInputRepresentation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.FulfillmentOrder__r.FulfilledFromLocation.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfill_Reservation_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfill_Reservation_Input_List</name>
        <label>Fulfill Reservation Input List</label>
        <locationX>706</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference
      >OCIFulfillReservationInputList.fulfillmentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >OCIFulfillReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Items_to_Fulfill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfill_Reservation_Output</name>
        <label>Fulfill Reservation Output</label>
        <locationX>1397</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference
      >OCIFulfillReservationOutputRepresentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >OCI_Fulfill_Reservation.ociFulfillReservationOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reservations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_Count</name>
        <label>Item Count</label>
        <locationX>859</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>ItemCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference
        >OCIFulfillReservationInputList.fulfillmentRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Inputs</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MaxOCIConnectionFailAttempts</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Inputs</name>
        <label>Any Inputs?</label>
        <locationX>966</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Inputs_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >OCIFulfillReservationInputList.fulfillmentRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ItemCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCI_Fulfill_Reservation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached</name>
        <label>Failure Limit Reached?</label>
        <locationX>1124</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Increment_Fulfillment_Attempts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.ConnectionFailedAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
          >MaxOCIConnectionFailAttempts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Successful</name>
        <label>Fulfillment Successful?</label>
        <locationX>1388</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>Fulfill_Reservation_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >OCI_Fulfill_Reservation.ociFulfillReservationOutput.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Succeed_Interaction_Fulfill_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IncrementAttempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ConnectionFailedAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_Failed_Attempts_plus_One_Hour</name>
        <dataType>DateTime</dataType>
        <expression
    >NOW() + (({!$Record.ConnectionFailedAttempts__c}+1)*(1/24))</expression>
    </formulas>
    <interviewLabel
  >Fulfill Reservation JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfill Reservation JDE</label>
    <loops>
        <name>Items_to_Fulfill</name>
        <label>Items to Fulfill</label>
        <locationX>638</locationX>
        <locationY>382</locationY>
        <collectionReference
    >Interaction_Fulfill_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fulfillment_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Item_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Reservations</name>
        <label>Reservations</label>
        <locationX>1397</locationX>
        <locationY>745</locationY>
        <collectionReference
    >OCIFulfillReservationOutputRepresentation.errors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Process_Exception_Fulfill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fail_Interaction_Fulfill_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>1213</locationX>
        <locationY>680</locationY>
        <connector>
            <targetReference>Abandon_Interaction_Fulfill_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.OCIConnectionFailedAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference
        >$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Fulfill</name>
        <label>Process Exception</label>
        <locationX>1398</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Reservations</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>Reservations.message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference
        >$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order_Item</name>
        <label>Fulfillment Order Item</label>
        <locationX>553</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Items_to_Fulfill.FulfillmentOrderItem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderItemSummaryId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Interaction_Fulfill_Order_Items</name>
        <label>Interaction Fulfill Order Items</label>
        <locationX>452</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Items_to_Fulfill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCIInteractionFulfillOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FULFILLMENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OCIInteractionFulfillOrderItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>FulfillmentOrderItem__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item</name>
        <label>Order Item</label>
        <locationX>553</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fulfill_Reservation_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Fulfillment_Order_Item.OrderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Interaction_Fulfill_Order</name>
        <label>Abandon Interaction Fulfill Order</label>
        <locationX>1213</locationX>
        <locationY>792</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fail_Interaction_Fulfill_Order</name>
        <label>Fail Interaction Fulfill Order</label>
        <locationX>1595</locationX>
        <locationY>748</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Fulfillment_Attempts</name>
        <label>Increment Fulfillment Attempts</label>
        <locationX>1046</locationX>
        <locationY>682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConnectionFailedAttempts__c</field>
            <value>
                <elementReference>IncrementAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference
        >Offset_NOW_by_Failed_Attempts_plus_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Succeed_Interaction_Fulfill_Order</name>
        <label>Succeed Interaction Fulfill Order</label>
        <locationX>1587</locationX>
        <locationY>381</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <start>
        <locationX>326</locationX>
        <locationY>53</locationY>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FULFILLMENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </filters>
        <object>OCIInteractionFulfillOrder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>OCI_Interaction_Fulfill_Order_Schedule</name>
            <connector>
                <targetReference
        >Interaction_Fulfill_Order_Items</targetReference>
            </connector>
            <label>Scheduled Fulfill Time</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Schedule__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessages</name>
        <apexClass>ConnectApi__ErrorResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OCIFulfillReservationInputList</name>
        <apexClass
    >ConnectApi__OCIFulfillReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIFulfillReservationOutputRepresentation</name>
        <apexClass
    >ConnectApi__OCIFulfillReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIFulfillReservationSingleInputRepresentation</name>
        <apexClass
    >ConnectApi__OCIFulfillReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
