force-app/main/default/flows/JDE_Process_Exception_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_apex_to_make_Fulfilment_Order_API_Callout</name>
        <label>Call apex to make Fulfilment Order API Callout</label>
        <locationX>110</locationX>
        <locationY>600</locationY>
        <actionName>RestServiceFulfilmentOrder</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.AttachedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RetryNumber</name>
            <value>
                <elementReference>CalculateRetryNumber</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_Declined_Shipment_API_Callout</name>
        <label>Call Declined Shipment API Callout</label>
        <locationX>638</locationX>
        <locationY>600</locationY>
        <actionName>RestServiceDeclinedShipment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.AttachedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RetryNumber</name>
            <value>
                <elementReference>CalculateRetryNumber</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_Shipment_API</name>
        <label>Call Shipment API</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <actionName>RestServiceUpdateShipment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>$Record.Shipment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RetryNumber</name>
            <value>
                <elementReference>CalculateRetryNumber</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Process_Exception_if_API_is_Failed</name>
        <label>Process Exception if API is Failed</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_if_Fulfilment_Order_API_callout_is_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilment Order API callout is Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retries__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_apex_to_make_Fulfilment_Order_API_Callout</targetReference>
            </connector>
            <label>Checking if Fulfilment Order API callout is failed</label>
        </rules>
        <rules>
            <name>Checking_if_Shipment_Order_API_Callout_is_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipment API Callout is failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retries__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Shipment_API</targetReference>
            </connector>
            <label>Checking if Shipment Order API Callout is Failed</label>
        </rules>
        <rules>
            <name>Checking_if_Declined_Shipment_Refund_Api_Callout_is_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined Shipment / Refund API callout is Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retries__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Declined_Shipment_API_Callout</targetReference>
            </connector>
            <label>Checking if Declined Shipment / Refund Api Callout is failed</label>
        </rules>
    </decisions>
    <description>Add SalesChannelExternalReferenceNumber to the ProcessException object.</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateRetry</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Retries__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateRetryNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Retries__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>JDE Process Exception Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JDE Process Exception Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>506</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Process_Exception</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ExternalReference</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Process_Exception</name>
        <label>Update Process Exception</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Process_Exception_if_API_is_Failed</targetReference>
        </connector>
        <inputAssignments>
            <field>SalesChannelExternalReferenceNumber__c</field>
            <value>
                <elementReference>Get_Order_Details.SalesChannel.ExternalChannelNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ProcessException</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Retry_API_Callouts_for_Failed_APIS</name>
            <connector>
                <targetReference>Get_Order_Details</targetReference>
            </connector>
            <label>Retry API Callouts for Failed APIS</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
</Flow>
