force-app/main/default/flows/JDE_Move_Loyalty_Transactions_to_other_Consumer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Create_Collection_To_Update</name>
        <label>Create Collection To Update</label>
        <locationX>275</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>TransactionsToWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TransactionToBeMoved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentUser</name>
        <label>CurrentUser</label>
        <locationX>405</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomLabelGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Authorization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Aurhorized</name>
        <label>Not Aurhorized</label>
        <locationX>33</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >&apos;You are not authorized to Move Transactions to another Customer&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>19</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;Loyalty Record Not Found&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Not_Found</name>
        <label>Set Error Message Not Found</label>
        <locationX>280</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;To Account not Found&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Parameters</name>
        <label>Set New Parameters</label>
        <locationX>465</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference
      >TransactionToBeMoved.Loyalty_Consumer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >TransactionToBeMoved.Loyalty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoyaltyToId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >TransactionToBeMoved.Loyalty_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Authorized</name>
        <label>Authorized?</label>
        <locationX>58</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>Fill_In_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Authorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Aurhorized</targetReference>
            </connector>
            <label>Not Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loyalty_Record_Found</name>
        <label>Loyalty Record Found?</label>
        <locationX>273</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference
      >Look_Up_All_Transactions_to_be_Migrated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Loyalty_Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoyaltyToId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message</targetReference>
            </connector>
            <label>Loyalty Record Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Accound_Found</name>
        <label>To Account Found?</label>
        <locationX>452</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Query_Loyalty_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_Not_Found</targetReference>
            </connector>
            <label>Account Not Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CustomLabelGroupId</name>
        <dataType>String</dataType>
        <expression
    >{!$Label.Move_Loyalty_Transactions_Authorization}</expression>
    </formulas>
    <formulas>
        <name>DescriptionOldAccount</name>
        <dataType>String</dataType>
        <expression
    >{!OldAccountDescription} &amp; &apos; Transactions Moved to Account with External Id via the Move Transaction Functionality: &apos; &amp; {!To_Account} &amp; &apos; . Done by user with username: &apos; &amp; {!$User.Username} &amp;&apos; on &apos; &amp; TEXT($Flow.CurrentDate) &amp; &apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>TransactionType</name>
        <dataType>String</dataType>
        <expression>{!$Label.TransactionType}</expression>
    </formulas>
    <interviewLabel
  >JDE - Move Loyalty Transactions to other Consumer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JDE - Move Loyalty Transactions to other Consumer</label>
    <loops>
        <name>Loop_Through_Transactions</name>
        <label>Loop Through Transactions</label>
        <locationX>463</locationX>
        <locationY>708</locationY>
        <assignNextValueToReference
    >TransactionToBeMoved</assignNextValueToReference>
        <collectionReference>TransactionsToBeMoved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Parameters</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_The_Transactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Old_Description</name>
        <label>Get Old Description</label>
        <locationX>687</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Description_Old_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>OldAccountDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_All_Transactions_to_be_Migrated</name>
        <label>Look Up All Transactions to be Migrated</label>
        <locationX>269</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loyalty_Consumer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Loyalty_Transaction__c</object>
        <outputReference>TransactionsToBeMoved</outputReference>
        <queriedFields>Loyalty__c</queriedFields>
        <queriedFields>Loyalty_Consumer__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Account_Based_on_INPUT_External_Id</name>
        <label>Query Account Based on INPUT External Id</label>
        <locationX>446</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Accound_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>To_Account</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ToAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Loyalty_Record</name>
        <label>Query Loyalty Record</label>
        <locationX>453</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loyalty_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loyalty_Consumer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToAccountId</elementReference>
            </value>
        </filters>
        <object>Loyalty__c</object>
        <outputAssignments>
            <assignToReference>LoyaltyToId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Verify_Authorization</name>
        <label>Verify Authorization</label>
        <locationX>255</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>GroupMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_The_Transactions</name>
        <label>Update All The Transactions</label>
        <locationX>676</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>Get_Old_Description</targetReference>
        </connector>
        <inputReference>TransactionsToWrite</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Description_Old_Account</name>
        <label>Update Description Old Account</label>
        <locationX>840</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionOldAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Fill_In_Details</name>
        <label>Fill In Details</label>
        <locationX>260</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference
      >Query_Account_Based_on_INPUT_External_Id</targetReference>
        </connector>
        <fields>
            <name>FromAccount</name>
            <fieldText
      >&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The Account where ALL the transactions will be moved FROM is:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ExternalIdFromAccount}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Fill the External Id of the target Account in the field below:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>To_Account</name>
            <dataType>String</dataType>
            <fieldText>External Id TO Account</fieldText>
            <fieldType>InputField</fieldType>
            <helpText
      >Fill in the External Id of the Account the Transactions need to be migrated to.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error_Message</name>
        <label>Show Error Message</label>
        <locationX>144</locationX>
        <locationY>430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Your request could not be completed because:

{!ErrorMsg}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>863</locationX>
        <locationY>714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successmsg</name>
            <fieldText
      >The transactions have successfully moved to the new Account with External Id: {!To_Account}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>254</locationX>
        <locationY>156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Authorized</targetReference>
        </connector>
        <fields>
            <name>Welcomemsg</name>
            <fieldText>Welcome to the Transaction Movement Process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CurrentUser</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExternalIdFromAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoyaltyToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldAccountDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionsToBeMoved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loyalty_Transaction__c</objectType>
    </variables>
    <variables>
        <name>TransactionsToWrite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loyalty_Transaction__c</objectType>
    </variables>
    <variables>
        <name>TransactionToBeMoved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loyalty_Transaction__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
