force-app/main/default/flows/Manual_Decline_Fulfillment_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Fulfillment_Order_Item</name>
        <label>Cancel Fulfillment Order Item</label>
        <locationX>790</locationX>
        <locationY>406</locationY>
        <actionName>cancelFulfillmentOrderItem</actionName>
        <actionType>cancelFulfillmentOrderItem</actionType>
        <connector>
            <targetReference>Fully_Cancelled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Process_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fulfillmentOrderLineItemsToCancelInput</name>
            <value>
                <elementReference>FulfillmentOrderLineItemsToCancelInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_FOLIR</name>
        <label>Add FOLIR</label>
        <locationX>661</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderLineItemsToCancelInputRepresentation.fulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentOrderLineItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>prepare_IR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FOLIR</name>
        <label>FOLIR</label>
        <locationX>662</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderLineItemInputRepresentation.fulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Order_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderLineItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityToCancel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityToCancel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountShipped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prepare_IR.QuantityShipped</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_FOLIR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FO_Status_Cancelled</name>
        <label>Set FO Status Cancelled</label>
        <locationX>1027</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_FO_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FO_Status_Partially_Fulfilled</name>
        <label>Set FO Status Partially Fulfilled</label>
        <locationX>902</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_FO_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_be_declined</name>
        <label>Can be declined?</label>
        <locationX>541</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Nothing_to_cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmountToCancel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>are_you_sure</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fully_Cancelled</name>
        <label>Fully Cancelled?</label>
        <locationX>966</locationX>
        <locationY>535</locationY>
        <defaultConnector>
            <targetReference>Set_FO_Status_Partially_Fulfilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmountShipped</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FO_Status_Cancelled</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_quantity_to_cancel</name>
        <label>has quantity to cancel?</label>
        <locationX>355</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>prepare_IR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuantityToCancel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Order_Products</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product</name>
        <label>Is Product?</label>
        <locationX>178</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>prepare_IR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prepare_IR.TypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>has_quantity_to_cancel</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>screenflow for OPS to decline any remaining items that cannot be fulfilled.</description>
    <environments>Default</environments>
    <formulas>
        <name>QuantityToCancel</name>
        <dataType>Number</dataType>
        <expression>{!prepare_IR.QuantityNetOrdered} - {!prepare_IR.QuantityShipped}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Cancel Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Order</label>
    <loops>
        <name>prepare_IR</name>
        <label>prepare IR</label>
        <locationX>463</locationX>
        <locationY>338</locationY>
        <collectionReference>Order_Product_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Can_be_declined</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>793</locationX>
        <locationY>547</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <stringValue>Cancel Order failed. The Credit Memo and Refund are most likely not created.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>recordId.OrderSummary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionId__c</field>
            <value>
                <elementReference>recordId.Transaction_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order_Products</name>
        <label>Fulfillment Order Products</label>
        <locationX>528</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOLIR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderItemSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prepare_IR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Product_Summaries</name>
        <label>Order Product Summaries</label>
        <locationX>339</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>prepare_IR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_FO_status</name>
        <label>Set FO status</label>
        <locationX>968</locationX>
        <locationY>134</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>are_you_sure</name>
        <label>are you sure?</label>
        <locationX>791</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Cancel_Fulfillment_Order_Item</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;Are you sure you want to cancel all remaining products in this order?&lt;/p&gt;&lt;p&gt;All products not yet shipped will be cancelled and refunded to the customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This cannot be undone!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm Cancel Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nothing_to_cancel</name>
        <label>Nothing to cancel</label>
        <locationX>788</locationX>
        <locationY>132</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noproducts</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;There are no products to cancel in this Fulfillment Order.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Order_Product_Summaries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_get_the_right_FOI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderLineItemInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderLineItemsToCancelInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>TotalAmountShipped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalAmountToCancel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
