force-app/main/default/flows/Manual_Shipment_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Ship_Item</name>
        <label>Assign Ship Item</label>
        <locationX>1036</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>ShipmentItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Shipment_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Shipment_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentItem.TrackingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackingNumberPlaceholde</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentItem.TrackingUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://shiptrackingplaceholder.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentItem.FulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Shipment_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentItem.ExpectedDeliveryDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedDeliveryDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentItem.ShipmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShipmentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToCollectionShipmentItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToCollectionShipmentItems</name>
        <label>AssignToCollectionShipmentItems</label>
        <locationX>1209</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>CollectionShipmentItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Shipment_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Fulfillment_Order_Status</name>
        <label>Check Fulfillment Order Status</label>
        <locationX>579</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Invalid_State_for_Fulfillment_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Allocated_or_Sent_To_LSP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_FO_Info.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_FO_Info.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickpack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shipment_Record</targetReference>
            </connector>
            <label>Status is Allocated or Sent To LSP</label>
        </rules>
    </decisions>
    <description>Creates manual shipment.</description>
    <environments>Default</environments>
    <formulas>
        <name>ExpectedDeliveryDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <interviewLabel>Manual Shipment JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Manual Shipment JDE</label>
    <loops>
        <name>Get_All_Shipment_Items</name>
        <label>Get All Shipment Items</label>
        <locationX>1142</locationX>
        <locationY>280</locationY>
        <collectionReference>Get_FO_Items_Info</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ship_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateShipmentItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Shipment_Record</name>
        <label>Create Shipment</label>
        <locationX>804</locationX>
        <locationY>282</locationY>
        <assignRecordIdToReference>ShipmentID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_FO_Items_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>DeliveryMethodId</field>
            <value>
                <elementReference>Get_FO_Info.DeliveryMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedDeliveryDate</field>
            <value>
                <elementReference>ExpectedDeliveryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>Get_FO_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>Get_FO_Info.OrderSummary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCity</field>
            <value>
                <elementReference>Get_FO_Info.FulfilledToCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCountry</field>
            <value>
                <elementReference>Get_FO_Info.FulfilledToCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToName</field>
            <value>
                <elementReference>Get_FO_Info.FulfilledToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToPostalCode</field>
            <value>
                <elementReference>Get_FO_Info.FulfilledToPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToStreet</field>
            <value>
                <elementReference>Get_FO_Info.FulfilledToStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackingNumber</field>
            <value>
                <elementReference>TrackingNumberPlaceholde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackingUrl</field>
            <value>
                <stringValue>https://shipmenturlplaceholder.com</stringValue>
            </value>
        </inputAssignments>
        <object>Shipment</object>
    </recordCreates>
    <recordCreates>
        <name>CreateShipmentItems</name>
        <label>CreateShipmentItems</label>
        <locationX>1387</locationX>
        <locationY>282</locationY>
        <connector>
            <targetReference>ShipmentCreated</targetReference>
        </connector>
        <inputReference>CollectionShipmentItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_FO_Info</name>
        <label>Get FO Info</label>
        <locationX>397</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Fulfillment_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FO_Items_Info</name>
        <label>Get FO Items Info</label>
        <locationX>965</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Shipment_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FO_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypeCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FO_Status</name>
        <label>Update FO Status</label>
        <locationX>1752</locationX>
        <locationY>282</locationY>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FO_Info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>1919</locationX>
        <locationY>282</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FO_Info.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>FULFILLED</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <screens>
        <name>Create_Shipment</name>
        <label>Create Manual Shipment</label>
        <locationX>397</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_FO_Info</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;Please click Create Manual Shipment to manually create shipment record in Magento.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Manual Shipment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_State_for_Fulfillment_order</name>
        <label>Invalid State for Fulfillment order</label>
        <locationX>586</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_Status</name>
            <fieldText>&lt;p&gt;The fulfillment order needs to be in status ALLOCATED or SENT TO LSP to create a shipment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShipmentCreated</name>
        <label>ShipmentCreated</label>
        <locationX>1572</locationX>
        <locationY>282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_FO_Status</targetReference>
        </connector>
        <fields>
            <name>FinalText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Shipment is created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Shipment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TrackingNumberPlaceholde</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TrackingNumberPlaceholde</text>
    </textTemplates>
    <variables>
        <name>CollectionShipmentItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShipmentItem</objectType>
    </variables>
    <variables>
        <name>NewShipmentID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment</objectType>
    </variables>
    <variables>
        <description>Record Id for FO</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShipmentItem</objectType>
    </variables>
</Flow>
