force-app/main/default/flows/Manual_RMA_Return_Item_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Return_Order</name>
        <label>Create Return Order</label>
        <locationX>1964</locationX>
        <locationY>266</locationY>
        <actionName>createReturnOrder</actionName>
        <actionType>createReturnOrder</actionType>
        <connector>
            <targetReference>Send_refund_to_Magento</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>returnOrderInput</name>
            <value>
                <elementReference>returnOrderInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>returnOrderOutputRepresentation</assignToReference>
            <name>returnOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Return_Order_Item_Summaries_Preview</name>
        <label>Return Order Item Summaries Preview</label>
        <locationX>1449</locationX>
        <locationY>309</locationY>
        <actionName>returnOrderItemSummariesPreview</actionName>
        <actionType>returnOrderItemSummariesPreview</actionType>
        <connector>
            <targetReference>Set_Stage_To_Stage_4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>previewReturnOutput</assignToReference>
            <name>previewReturnOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_refund_to_Magento</name>
        <label>Send refund to Magento</label>
        <locationX>2106</locationX>
        <locationY>274</locationY>
        <actionName>RestServiceReturnOrderWebshopRefund</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Related_Fulfillment_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>returnOrderOutputRepresentation.returnOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Id_To_Collection</name>
        <label>Add Id To Collection</label>
        <locationX>448</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>permissionSetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Permission_Set_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_Set_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Input_Representation</name>
        <label>Change Input Representation</label>
        <locationX>1365</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>changeInputRepresentation.changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Assignment</name>
        <label>Change Item Assignment</label>
        <locationX>966</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>changeItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Input_Representation_Assignment</name>
        <label>Change Item Input Representation Assignment</label>
        <locationX>1222</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.shippingReductionFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_List_Assignment</name>
        <label>Change Item List Assignment</label>
        <locationX>1102</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>1418</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Items_Error_Message</name>
        <label>No Items Error Message</label>
        <locationX>318</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Items_Error_Message_0</name>
        <label>No Items Error Message</label>
        <locationX>1726</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_no_OPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_no_OPS_title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_the_Step</name>
        <label>Prepare the Step</label>
        <locationX>645</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>isProcessRoDirectly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Stage1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_stage_to_part_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refund_Ass</name>
        <label>Refund</label>
        <locationX>2174</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>Refund.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.GrandTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.OrderPaymentSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Payment_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NonReferenced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.ProcessingMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.GrandTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Refund.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Payment_Summary.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refund_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Order_Input</name>
        <label>Return Order Input</label>
        <locationX>1847</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>returnOrderInputRepresentation.returnOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnOrderLineItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderInputRepresentation.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnOrderInputStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderInputRepresentation.returnOrderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnOrderLifeCycleType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Items_to_Return</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Order_Line_Item_Input</name>
        <label>Return Order Line Item Input</label>
        <locationX>1670</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>returnOrderLineItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Return.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderLineItemInputRepresentation.reasonForReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Return.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderLineItemInputRepresentation.canReduceShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Return.shippingReductionFlag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderLineItemInputRepresentation.quantityExpected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Return.quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Return_Option_for_LSP</name>
        <label>Set Return Option for LSP</label>
        <locationX>828</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>isProcessRoDirectly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_stage_to_part_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_part_1</name>
        <label>Set stage to part 1</label>
        <locationX>646</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_and_Refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_part_2</name>
        <label>Set stage to part 2</label>
        <locationX>828</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Stage_3</name>
        <label>Set Stage To Stage 3</label>
        <locationX>1020</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Stage_4</name>
        <label>Set Stage To Stage 4</label>
        <locationX>1573</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreviewChanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Stage_5</name>
        <label>Set Stage To Stage 5</label>
        <locationX>2489</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unmanaged_Order_Error_Message</name>
        <label>Set Unmanaged Order Error Message</label>
        <locationX>64</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>173</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Option_1</name>
        <choiceText>Option 1: refund the customer now, and process the return later?</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Option_2</name>
        <choiceText>Option 2: process both the return and the refund to the customer immediately?</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToReturn_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>LSP_EMPLOYEE_FOR_SF_PLATFORM_PERM_SET_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OMS_LSP_Employee_for_Platform_Users</stringValue>
        </value>
    </constants>
    <constants>
        <name>LSP_PERMISSION_SET_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OMS_LSP_Employee</stringValue>
        </value>
    </constants>
    <constants>
        <name>returnOrderInputStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Submitted</stringValue>
        </value>
    </constants>
    <constants>
        <name>returnOrderLifeCycleType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MANAGED</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Any_Items_To_Return</name>
        <label>Are Any Items To Return</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Items_Error_Message</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set_Id</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Access_to_LSP_Permissions</name>
        <label>Has Access to LSP Permissions</label>
        <locationX>720</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Prepare_the_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_LSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Return_Option_for_LSP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValid</name>
        <label>isValid</label>
        <locationX>145</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>what_to_do</name>
        <label>process RO directly?</label>
        <locationX>2301</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_To_Stage_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Option_2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessRoDirectly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Return_Order_Post_Actions</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Allows service agent to manually Return products, Return Order is created. Customized for different roles. SalesChannelExternalReferenceNumber mapping added.</description>
    <environments>Default</environments>
    <interviewLabel>Manual RMA Return Item JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Return and Refund</label>
    <loops>
        <name>Change_Item_Assignment_Loop</name>
        <label>Change Item Assignment Loop</label>
        <locationX>1030</locationX>
        <locationY>392</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reasons_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Change_Item_Representation_Loop</name>
        <label>Change Item Representation Loop</label>
        <locationX>1272</locationX>
        <locationY>427</locationY>
        <assignNextValueToReference>changeItem</assignNextValueToReference>
        <collectionReference>changeItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Input_Representation_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_Order_Item_Summaries_Preview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Items_to_Return</name>
        <label>Items to Return</label>
        <locationX>1748</locationX>
        <locationY>267</locationY>
        <collectionReference>changeItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Return_Order_Line_Item_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Return_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Permission_Set_Loop</name>
        <label>Permission Set Loop</label>
        <locationX>447</locationX>
        <locationY>447</locationY>
        <collectionReference>Get_Permission_Set_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Refund_create</name>
        <label>Refund</label>
        <locationX>2174</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>what_to_do</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <inputReference>Refund</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>293</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Items_To_Return</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToReturn</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>161</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>566</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Access_to_LSP_Permissions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>In</operator>
            <value>
                <elementReference>permissionSetIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Id</name>
        <label>Get Permission Set Id</label>
        <locationX>439</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LSP_PERMISSION_SET_NAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LSP_EMPLOYEE_FOR_SF_PLATFORM_PERM_SET_NAME</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Fulfillment_Order</name>
        <label>Get Related Fulfillment Order</label>
        <locationX>2266</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SalesChannel_External_Reference_on_Return_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Items_Error_Message_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>2175</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refund_Ass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>returnOrderOutputRepresentation.returnOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Payment_Summary</name>
        <label>Order Payment Summary</label>
        <locationX>2330</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Items_Error_Message_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Failure_Exit</name>
        <label>Failure Exit</label>
        <locationX>310</locationX>
        <locationY>908</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Set_SalesChannel_External_Reference_on_Return_Order</name>
        <label>Set SalesChannel External Reference on Return Order</label>
        <locationX>2418</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>Order_Payment_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Items_Error_Message_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>returnOrderOutputRepresentation.returnOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SalesChannelExternalReferenceNumber__c</field>
            <value>
                <elementReference>Get_Order_Summary.SalesChannel.ExternalChannelNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>Get_Related_Fulfillment_Order.FulfilledFromLocationId</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>2497</locationX>
        <locationY>70</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;You&apos;re all set! The return succeeded.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>865</locationX>
        <locationY>995</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreviewChanges</name>
        <label>PreviewChanges</label>
        <locationX>1661</locationX>
        <locationY>66</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Items_to_Return</targetReference>
        </connector>
        <fields>
            <name>PreviewChangesHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Review your selections. If everything looks good, you&apos;re ready to submit!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewOrderChanges</name>
            <extensionName>runtime_commerce_oms:reviewWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>changeItemList</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>rma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previewReturnOutput</name>
                <value>
                    <elementReference>previewReturnOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Refund_Option_Selected</name>
            <fieldText>&lt;p&gt;Selected option for refund: {!Would_you_like_to}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>1020</locationX>
        <locationY>59</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Stage_3</targetReference>
        </connector>
        <fields>
            <name>ProductSelectionHeading</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select from these available items to return.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>Get_Order_Item_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>rma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProductSelctionFooter</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reasons_Selection</name>
        <label>Reasons Selection</label>
        <locationX>1264</locationX>
        <locationY>67</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Return_Items</targetReference>
        </connector>
        <fields>
            <name>ReasonsSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Select the quantity to return and the return reason.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productChangesSelection</name>
            <extensionName>runtime_commerce_oms:changesWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>changeItemList</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>rma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>changeItems</assignToReference>
                <name>changeItemList</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_and_Refund</name>
        <label>Return and Refund</label>
        <locationX>734</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_stage_to_part_2</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to</name>
            <choiceReferences>Option_1</choiceReferences>
            <choiceReferences>Option_2</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Option_1</defaultSelectedChoiceReference>
            <fieldText>Would you like to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Progress</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_rma__Return_Item_RMA</sourceTemplate>
    <stages>
        <name>Stage1</name>
        <isActive>false</isActive>
        <label>Select Return and Refund Option</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage2</name>
        <isActive>true</isActive>
        <label>Select Products</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_3</name>
        <isActive>true</isActive>
        <label>Select Quantities and Reasons</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Stage_4</name>
        <isActive>true</isActive>
        <label>Review and Submit</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Stage_5</name>
        <isActive>true</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>35</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Return_Order_Post_Actions</name>
        <label>Handle Return Order Post Actions</label>
        <locationX>2390</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Set_Stage_To_Stage_5</targetReference>
        </connector>
        <flowName>Return_Order_Post_Actions_JDE</flowName>
        <inputAssignments>
            <name>returnOrder</name>
            <value>
                <elementReference>Get_Return_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>runIntegrationCallsAsync</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Check if partial return to decide the shipping reduction flag.</description>
        <name>Validate_Return_Items</name>
        <label>Validate Return Items</label>
        <locationX>1272</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </connector>
        <flowName>Validate_Return_Items_JDE</flowName>
        <inputAssignments>
            <name>changeItems</name>
            <value>
                <elementReference>changeItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderSummaryId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>changeItems</assignToReference>
            <name>outputChangeItems</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Error_Output_Invocable_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Close this window and check the order summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <description>Order Payment Summary record missing</description>
        <name>Error_Output_no_OPS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;No Payment was found for this order, therefore we cannot do a refund.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_no_OPS_title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Order Payment Summary not found&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToReturn</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>When an order has items you can return, you&apos;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToReturn_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Return</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is where you&apos;d return items from an order. To return an order, start from the order summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>changeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItem</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItems</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditMemoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isProcessRoDirectly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>permissionSetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previewReturnOutput</name>
        <apexClass>ConnectApi__PreviewReturnOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Refund</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Refund</objectType>
    </variables>
    <variables>
        <name>returnOrderInputRepresentation</name>
        <apexClass>ConnectApi__ReturnOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderLineItemInputRepresentation</name>
        <apexClass>ConnectApi__ReturnOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderOutputRepresentation</name>
        <apexClass>ConnectApi__ReturnOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>submitReturnOutput</name>
        <apexClass>ConnectApi__SubmitReturnOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
