force-app/main/default/flows/Manual_Appeasement_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Discount_Order_Item_Summaries_Preview</name>
        <label>Discount Order Item Summaries Preview</label>
        <locationX>1385</locationX>
        <locationY>342</locationY>
        <actionName>adjustOrderItemSummariesPreview</actionName>
        <actionType>adjustOrderItemSummariesPreview</actionType>
        <connector>
            <targetReference>Set_Stage_To_Part_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummariesToAdjust</name>
            <value>
                <elementReference
        >adjustOrderItemSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >adjustOrderSummaryOutputRepresentation</assignToReference>
            <name>adjustOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubmitForApproval</name>
        <label>SubmitForApproval</label>
        <locationX>1992</locationX>
        <locationY>241</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>ApprovalSuccess</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Appeasement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>appeasement</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_To_Discountable_Items</name>
        <label>Add To Discountable Items</label>
        <locationX>595</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>discountableItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>potentiallyDiscountableItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Appeasement_Items</name>
        <label>Appeasement Items Assignment</label>
        <locationX>1273</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>appeasementItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AppeasementItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AppeasementItem_Assignment</name>
        <label>AppeasementItem Assignment</label>
        <locationX>1328</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference
      >AppeasementItem.AdjustmentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountWithTax</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppeasementItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountvalue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AppeasementItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppeasementItem.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AppeasementItem.Order_Product_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >discountItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Discount_Order_Item_Input_Representation_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unmanaged_Error_Messages</name>
        <label>Assign Unmanaged Error Messages</label>
        <locationX>45</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_Unmanaged_Order_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>calculate_discount</name>
        <label>calculate discount</label>
        <locationX>1621</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>discountvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountamount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppeasementItem_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>calculate_discount_0</name>
        <label>calculate discount</label>
        <locationX>1593</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>discountvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.discountValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppeasementItem_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_Assignment</name>
        <label>Discount Item Assignment</label>
        <locationX>939</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference
      >discountItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.discountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.discountValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_Input_Representation_Assignment</name>
        <label>Discount Item Input Representation Assignment</label>
        <locationX>1125</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference
      >adjustItemInputRepresentation.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.discountValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >adjustItemInputRepresentation.adjustmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.discountType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >adjustItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >discountItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >adjustItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >adjustItemInputRepresentation.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>percentage_discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_List_Assignment</name>
        <label>Discount Item List Assignment</label>
        <locationX>1079</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>discountItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>discountItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Order_Item_Input_Representation_Assignment</name>
        <label>Discount Order Item Input Representation Assignment</label>
        <locationX>1327</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference
      >adjustOrderItemSummaryInputRepresentation.adjustItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >adjustItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appeasement_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>1227</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_Invocable_Action_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Items_Error_Message</name>
        <label>No Items Error Message</label>
        <locationX>813</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_NoItemsToDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_NoItemsToDiscount_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_NoItemsToDiscount_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_manager_error</name>
        <label>No manager Error</label>
        <locationX>2130</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Manager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_No_Manager_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allocated_Items_Change_Order_Type</name>
        <label>Set Allocated Items Change Order Type</label>
        <locationX>1339</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference
      >adjustOrderItemSummaryInputRepresentation.allocatedItemsChangeOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >allocatedItemsChangeOrderType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appeasement_Values</name>
        <label>Set Appeasement Values</label>
        <locationX>1631</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>Appeasement.Order_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Appeasement.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Appeasement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AppeasementId</name>
        <label>Set AppeasementId</label>
        <locationX>1470</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference
      >AppeasementItem.Appeasement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appeasement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createAppeasementItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AppeasementItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appeasement_Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_Amount_Type_With_Tax</name>
        <label>Set Discount Amount Type With Tax</label>
        <locationX>453</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>discountAmountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountWithTax</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_Amount_Type_Without_Tax</name>
        <label>Set Discount Amount Type Without Tax</label>
        <locationX>460</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>discountAmountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountWithoutTax</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_1</name>
        <label>Set Stage To Part 1</label>
        <locationX>812</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_2</name>
        <label>Set Stage To Part 2</label>
        <locationX>938</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_3</name>
        <label>Set Stage To Part 3</label>
        <locationX>1511</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>preview_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Part_4</name>
        <label>Set Stage to Part 4</label>
        <locationX>2216</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>finished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>168</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue
      >/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue
      >/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToDiscount_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue
      >/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue
      >/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Approval_required</name>
        <label>Approval required</label>
        <locationX>1921</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Update_Appeasement_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>approval_required_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalLimit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >adjustOrderSummaryOutputRepresentation.changeBalances.grandTotalAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ApprovalLimit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalLimit</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_has_a_manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Any_Items_To_Discount</name>
        <label>Are Any Items To Discount</label>
        <locationX>805</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discountableItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Items_Error_Message</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discountableItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Part_1</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Discount_Amount_Type</name>
        <label>Determine Discount Amount Type</label>
        <locationX>447</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference
      >Set_Discount_Amount_Type_Without_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_OrderSummary_VAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Order_Summary_Object.TaxLocaleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gross</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Set_Discount_Amount_Type_With_Tax</targetReference>
            </connector>
            <label>Is OrderSummary VAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Unmanaged_Order</name>
        <label>Determine Unmanaged Order</label>
        <locationX>37</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>is_Valid_Order_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Order_Summary_Object.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Unmanaged_Error_Messages</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Item_Discountable</name>
        <label>Is Item Discountable</label>
        <locationX>732</locationX>
        <locationY>561</locationY>
        <defaultConnector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_is_Discountable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >potentiallyDiscountableItem.TotalAmtWithTax</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Discountable_Items</targetReference>
            </connector>
            <label>Item is Discountable</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Valid_Order_Summary</name>
        <label>Is Valid Order Summary</label>
        <locationX>269</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>percentage_discount</name>
        <label>percentage discount?</label>
        <locationX>1159</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>calculate_discount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >adjustItemInputRepresentation.adjustmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderItemSummary</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_has_a_manager</name>
        <label>User has a manager</label>
        <locationX>1852</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>No_manager_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no manager</defaultConnectorLabel>
        <rules>
            <name>has_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovalRequired</targetReference>
            </connector>
            <label>has manager</label>
        </rules>
    </decisions>
    <description>Change appeasement status mapping</description>
    <environments>Default</environments>
    <formulas>
        <name>discountamount</name>
        <dataType>Number</dataType>
        <expression
    >{!discountvalue} * {!discountItem.discountValue} / 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manual Appeasement {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun
  >true</isAdditionalPermissionRequiredToRun>
    <label>Credit Refund</label>
    <loops>
        <name>Appeasement_Item_Loop</name>
        <label>Appeasement Item Loop</label>
        <locationX>1618</locationX>
        <locationY>523</locationY>
        <assignNextValueToReference>AppeasementItem</assignNextValueToReference>
        <collectionReference>appeasementItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_AppeasementId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Appeasement_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Discount_Item_Assignment_Loop</name>
        <label>Discount Item Assignment Loop</label>
        <locationX>1004</locationX>
        <locationY>447</locationY>
        <assignNextValueToReference
    >selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Item_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Value_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Discount_Item_Representation_Loop</name>
        <label>Discount Item Representation Loop</label>
        <locationX>1132</locationX>
        <locationY>271</locationY>
        <assignNextValueToReference>discountItem</assignNextValueToReference>
        <collectionReference>discountItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Discount_Item_Input_Representation_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >Discount_Order_Item_Summaries_Preview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Filter_For_Discountable_Items</name>
        <label>Filter For Discountable Items</label>
        <locationX>563</locationX>
        <locationY>267</locationY>
        <assignNextValueToReference
    >potentiallyDiscountableItem</assignNextValueToReference>
        <collectionReference>Get_Order_Item_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Item_Discountable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Any_Items_To_Discount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Appeasement_Item</name>
        <label>Appeasement Item</label>
        <locationX>1811</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>Approval_required</targetReference>
        </connector>
        <inputReference>createAppeasementItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Appeasement</name>
        <label>Create Appeasement</label>
        <locationX>1630</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Appeasement_Item_Loop</targetReference>
        </connector>
        <inputReference>Appeasement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>350</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Discount_Amount_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary_Object</name>
        <label>Get Order Summary</label>
        <locationX>211</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Unmanaged_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OrderItemSummary</name>
        <label>OrderItemSummary</label>
        <locationX>1499</locationX>
        <locationY>927</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>calculate_discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >discountItem.orderItemSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderItemSummary</object>
        <outputAssignments>
            <assignToReference>discountvalue</assignToReference>
            <field>TotalAmtWithTax</field>
        </outputAssignments>
    </recordLookups>
    <recordRollbacks>
        <name>Failure_Exit</name>
        <label>Failure Exit</label>
        <locationX>112</locationX>
        <locationY>831</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Appeasement_Status</name>
        <label>Update Appeasement Status</label>
        <locationX>2216</locationX>
        <locationY>523</locationY>
        <connector>
            <targetReference>Set_Stage_to_Part_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appeasement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Not required</stringValue>
            </value>
        </inputAssignments>
        <object>Appeasement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ApprovalRequired</name>
        <label>ApprovalRequired</label>
        <locationX>1860</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SubmitForApproval</targetReference>
        </connector>
        <fields>
            <name>ApprovalScreen</name>
            <fieldText
      >&lt;p&gt;The total appeasement requested for {!Get_Order_Summary_Object.OrderNumber} is {!adjustOrderSummaryOutputRepresentation.changeBalances.grandTotalAmount}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Since this is higher than the maximum amount, approval is required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Request Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ApprovalSuccess</name>
        <label>ApprovalSuccess</label>
        <locationX>2027</locationX>
        <locationY>64</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalSubmittes</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Approval request was submitted!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>111</locationX>
        <locationY>960</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finished</name>
        <label>Finished</label>
        <locationX>2213</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;You&apos;re all set! The customer has been appeased.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>preview_screen</name>
        <label>Preview Screen</label>
        <locationX>1518</locationX>
        <locationY>47</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Appeasement_Values</targetReference>
        </connector>
        <fields>
            <name>finishedMessage</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Preview Appeasement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reviewOrderChange</name>
            <extensionName>runtime_commerce_oms:reviewWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>discountItemList</name>
                <value>
                    <elementReference>discountItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>DISCOUNT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference
          >Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previewAdjustOutput</name>
                <value>
                    <elementReference
          >adjustOrderSummaryOutputRepresentation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference
          >selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>818</locationX>
        <locationY>25</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_2</targetReference>
        </connector>
        <fields>
            <name>ProductSelectionHeading</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select from these available items to appease.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>discountableItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>discount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference
          >selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference
          >Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference
        >selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>discountableItems</assignToReference>
                <name>OrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Value_Selection</name>
        <label>Value Selection</label>
        <locationX>1100</locationX>
        <locationY>31</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference
      >Set_Allocated_Items_Change_Order_Type</targetReference>
        </connector>
        <fields>
            <name>DiscountSelectionHeading</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select the type, value, and reason.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productChangesSelection</name>
            <extensionName>runtime_commerce_oms:changesWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference
          >selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discountItemList</name>
                <value>
                    <elementReference>discountItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>DISCOUNT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discountAmountType</name>
                <value>
                    <elementReference>discountAmountType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference
          >Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>discountItems</assignToReference>
                <name>discountItemList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference
        >selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_adj__Discount_Item</sourceTemplate>
    <stages>
        <name>Part_1</name>
        <isActive>true</isActive>
        <label>Select Items</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Part_2</name>
        <isActive>true</isActive>
        <label>Select Amounts and Reasons</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Part_3</name>
        <isActive>true</isActive>
        <label>Review and Submit</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Part_4</name>
        <isActive>true</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>79</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >Close this window and check the order summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Manager</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The user requesting the appeasement has no manager configured, and hence no apporval can be triggered.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please contact your administrator to correct this.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToDiscount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >When an order has items you can appease, you&apos;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToDiscount_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Appease</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >This is where you&apos;d appease items from an order. To appease an order, start from the order summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>adjustItemInputRepresentation</name>
        <apexClass>ConnectApi__AdjustItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adjustOrderItemSummaryInputRepresentation</name>
        <apexClass
    >ConnectApi__AdjustOrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adjustOrderSummaryOutputRepresentation</name>
        <apexClass
    >ConnectApi__AdjustOrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allocatedItemsChangeOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PreFulfillment</stringValue>
        </value>
    </variables>
    <variables>
        <name>Appeasement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appeasement__c</objectType>
    </variables>
    <variables>
        <name>AppeasementItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppeasementItem__c</objectType>
    </variables>
    <variables>
        <name>appeasementItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppeasementItem__c</objectType>
    </variables>
    <variables>
        <name>ApprovalLimit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference
      >$Setup.Appeasement_Approval_Limit__c.Amount__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createAppeasementItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppeasementItem__c</objectType>
    </variables>
    <variables>
        <name>creditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountableItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <description
    >used to set the discount amount type based on whether the order is VAT</description>
        <name>discountAmountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AmountWithTax</stringValue>
        </value>
    </variables>
    <variables>
        <name>discountItem</name>
        <apexClass>runtime_commerce_oms__DiscountItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountItems</name>
        <apexClass>runtime_commerce_oms__DiscountItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountvalue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>discountItem.discountValue</elementReference>
        </value>
    </variables>
    <variables>
        <name>ensureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_Output_No_Manager_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Manager defined</stringValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>potentiallyDiscountableItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1Osxx0000004Qoi</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
</Flow>
