force-app/main/default/flows/Prep_Fulfillment_OrderItem_for_Transfer_Back_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Release_Reservation</name>
        <label>Release Reservation</label>
        <locationX>845</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>TransferType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_RELEASE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfill_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Back_Reservation</name>
        <label>Transfer Back Reservation</label>
        <locationX>844</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>TransferType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_CANCEL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfill_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Fulfill To Location for In-Store Pickup</description>
        <name>Fulfill_To_Location_For_In_Store_Pickup</name>
        <label>Fulfill To Location for In-Store Pickup?</label>
        <locationX>562</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>Is_Reship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In-Store Pickup</defaultConnectorLabel>
        <rules>
            <name>In_Store_Pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrderLineItem.FulfillmentOrder.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Store Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderItemSummary.ReservedAtLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>131</stringValue>
                </rightValue>
            </conditions>
            <label>In-Store Pickup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Product</name>
        <label>Is a Product?</label>
        <locationX>458</locationX>
        <locationY>496</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_a_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderItemSummary.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reserved_At_Location_is_Set</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rejection</name>
        <label>Is Rejection?</label>
        <locationX>168</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrderLineItem.RejectedQuantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrderLineItem.RejectedQuantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reship</name>
        <label>Is Reship?</label>
        <locationX>761</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Transfer_Back_Reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Reship_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fulfillment_Order.IsReship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Release_Reservation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reserved_At_Location_is_Set</name>
        <label>Reserved At Location is Set?</label>
        <locationX>297</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>Fulfill_To_Location_For_In_Store_Pickup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reservation Location is Set</defaultConnectorLabel>
        <rules>
            <name>Reservation_Location_is_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderItemSummary.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reservation_Process_Exception</targetReference>
            </connector>
            <label>Reservation Location is Not Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetCancelQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OldQuantity} -  {!$Record.NewQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Prep Fulfillment OrderItem for Transfer Back JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prep Fulfillment OrderItem for Transfer Back JDE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Interaction_Fulfill_Order</name>
        <label>Interaction Fulfill Order</label>
        <locationX>1022</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Interaction_Fulfill_Order_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ConnectionFailedAttempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrder__c</field>
            <value>
                <elementReference>$Record.FulfillmentOrderLineItem.FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TransferType</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Fulfill_Order_Item</name>
        <label>Interaction Fulfill Order Item</label>
        <locationX>1147</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>FromLocation__c</field>
            <value>
                <elementReference>$Record.FulfillmentOrderLineItem.FulfillmentOrder.FulfilledFromLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderItem__c</field>
            <value>
                <elementReference>$Record.FulfillmentOrderLineItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCIInteractionFulfillOrder__c</field>
            <value>
                <elementReference>Interaction_Fulfill_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>GetCancelQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToLocationGroup__c</field>
            <value>
                <elementReference>$Record.OrderItemSummary.ReservedAtLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TransferType</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Reservation_Process_Exception</name>
        <label>Reservation Process Exception</label>
        <locationX>306</locationX>
        <locationY>844</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrderLineItem.FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.FlowErrors_reservedAtLocationIdIsNotSetErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.FulfillmentOrderLineItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.FlowErrors_reservedAtLocationIdIsNotSetErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderItemSummary.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order</name>
        <label>Fulfillment Order</label>
        <locationX>177</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FulfillmentOrderLineItem.FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Rejection</targetReference>
        </connector>
        <object>FulfillOrdItemQtyChgEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TransferType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
