force-app/main/default/flows/Prep_Fulfillment_Order_for_Transfer_Back_JDE_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>add_to_set</name>
        <label>add to set</label>
        <locationX>548</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference
      >OCIInteractionFulfillOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >OCIInteractionFulfillOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FOIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCI_Interaction_Fulfill_Order_Item</name>
        <label>OCI Interaction Fulfill Order Item</label>
        <locationX>548</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference
      >OCIInteractionFulfillOrderItem.FromLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >FOIs.FulfillmentOrder.FulfilledFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionFulfillOrderItem.FulfillmentOrderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionFulfillOrderItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCancelQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionFulfillOrderItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionFulfillOrderItem.ToLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >FOIs.OrderItemSummary.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionFulfillOrderItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_CANCEL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_parent</name>
        <label>set parent</label>
        <locationX>858</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference
      >OCI_IFOI.OCIInteractionFulfillOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfill_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfill_Order_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Cancellable</name>
        <label>Is Cancellable?</label>
        <locationX>298</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>FOIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >FOIs.OrderItemSummary.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCancelQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reserved_At_Location_is_Set</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reserved_At_Location_is_Set</name>
        <label>Reserved At Location is Set?</label>
        <locationX>293</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference
      >OCI_Interaction_Fulfill_Order_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>Reservation_Location_is_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >FOIs.OrderItemSummary.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reservation_Process_Exception</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetCancelQuantity</name>
        <dataType>Number</dataType>
        <expression
    >{!FOIs.OrderItemSummary.QuantityNetOrdered} - {!FOIs.OrderItemSummary.QuantityShipped}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel
  >Prep Fulfillment Order for Transfer Back JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prep Fulfillment Order for Transfer Back JDE</label>
    <loops>
        <name>FOIs</name>
        <label>FOIs</label>
        <locationX>419</locationX>
        <locationY>254</locationY>
        <collectionReference>Fulfillment_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Cancellable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Fulfill_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OCI_IFOI</name>
        <label>OCI IFOI</label>
        <locationX>856</locationX>
        <locationY>330</locationY>
        <collectionReference
    >OCIInteractionFulfillOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_parent</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Interaction_Fulfill_Order</name>
        <label>Interaction Fulfill Order</label>
        <locationX>695</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>OCI_IFOI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Reservation_Process_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ConnectionFailedAttempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrder__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>TRANSFER_CANCEL</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Fulfill_Order_Item</name>
        <label>Interaction Fulfill Order Item</label>
        <locationX>717</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>OCI_IFOI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Reservation_Process_Exception</targetReference>
        </faultConnector>
        <inputReference>OCI_IFOI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Reservation_Process_Exception</name>
        <label>Reservation Process Exception</label>
        <locationX>623</locationX>
        <locationY>691</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Error in prep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <stringValue>Error in prep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order_Products</name>
        <label>Fulfillment Order Products</label>
        <locationX>305</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>40</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>Fulfillment_Order_Products</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OCIInteractionFulfillOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionFulfillOrderItem__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionFulfillOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionFulfillOrderItem__c</objectType>
    </variables>
    <variables>
        <name>TransferType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
