force-app/main/default/flows/Process_Appeasement_subflow_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Adjust_Order_Item_Summaries_Submit</name>
        <label>Adjust Order Item Summaries Submit</label>
        <locationX>905</locationX>
        <locationY>298</locationY>
        <actionName>adjustOrderItemSummariesSubmit</actionName>
        <actionType>adjustOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>preFulfillmentCO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_error_description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference
        >appeasement.Order_Summary__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummariesToAdjust</name>
            <value>
                <elementReference
        >adjustOrderItemSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >AdjustOrderSummaryOutputRepresentation</assignToReference>
            <name>adjustOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Credit_Memo</name>
        <label>Create Credit Memo</label>
        <locationX>1367</locationX>
        <locationY>471</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>Update_Credit_Memo_to_Appeasement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_error_description2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference
        >appeasement.Order_Summary__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference
        >CreditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >CreateCreditMemoOutputRepresentation</assignToReference>
            <name>creditMemoOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_InFulfillmentCO</name>
        <label>add InFulfillmentCO</label>
        <locationX>1370</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference
      >CreditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >AdjustOrderSummaryOutputRepresentation.inFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit_Memo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_PostFulfillmentCO</name>
        <label>add PostFulfillmentCO</label>
        <locationX>1081</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference
      >CreditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >AdjustOrderSummaryOutputRepresentation.postFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inFulfillmentCO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_PrefFulfillmentCO</name>
        <label>add PrefFulfillmentCO</label>
        <locationX>1087</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference
      >CreditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >AdjustOrderSummaryOutputRepresentation.preFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>postFulfillmentCO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_list</name>
        <label>add to list</label>
        <locationX>773</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference
      >adjustOrderItemSummaryInputRepresentation.adjustItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >AdjustItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_input_representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refund_ass</name>
        <label>Refund</label>
        <locationX>1893</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>refund.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >AdjustOrderSummaryOutputRepresentation.changeBalances.grandTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refund.Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >AdjustOrderSummaryOutputRepresentation.changeBalances.grandTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refund.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appeasement (credit memo)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refund.OrderPaymentSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Payment_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refund.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NonReferenced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refund.ProcessingMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refund.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refund.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Order_Payment_Summary.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refund_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AdjustItemInputRepresentation</name>
        <label>Set AdjustItemInputRepresentation</label>
        <locationX>539</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference
      >AdjustItemInputRepresentation.adjustmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >create_input_representation.AdjustmentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AdjustItemInputRepresentation.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >create_input_representation.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AdjustItemInputRepresentation.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >create_input_representation.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AdjustItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >create_input_representation.Order_Product_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AdjustItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >create_input_representation.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChangeOrder_Type</name>
        <label>Set ChangeOrder Type</label>
        <locationX>510</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference
      >adjustOrderItemSummaryInputRepresentation.allocatedItemsChangeOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InFulfillment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Appeasement_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_description</name>
        <label>Set error description</label>
        <locationX>1048</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>ErrorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >The AdjustOrderSummaries Action failed. This is most likely due to some changes to the refundable total on the order during the approval process, so the amount could no longer be refunded.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_description2</name>
        <label>Set error description</label>
        <locationX>1230</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>ErrorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >The creation of the CreditMemo failed. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_description_3</name>
        <label>Set error description</label>
        <locationX>1369</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>ErrorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >No Order Payment Summary found. Without a payment, no refund can be done.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_description_3_0</name>
        <label>Set error description</label>
        <locationX>1574</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>ErrorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refund callout to Magento failed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Credit_Memo_to_Appeasement</name>
        <label>Update Credit Memo to Appeasement</label>
        <locationX>1685</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>appeasement.Credit_Memo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >CreateCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_appeasement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>inFulfillmentCO</name>
        <label>inFulfillmentCO?</label>
        <locationX>1224</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Memo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >AdjustOrderSummaryOutputRepresentation.inFulfillmentChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_InFulfillmentCO</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>postFulfillmentCO</name>
        <label>postFulfillmentCO?</label>
        <locationX>905</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>inFulfillmentCO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >AdjustOrderSummaryOutputRepresentation.postFulfillmentChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_PostFulfillmentCO</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>preFulfillmentCO</name>
        <label>preFulfillmentCO?</label>
        <locationX>901</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>postFulfillmentCO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >AdjustOrderSummaryOutputRepresentation.preFulfillmentChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_PrefFulfillmentCO</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Process Appeasement Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Appeasement Subflow</label>
    <loops>
        <name>create_input_representation</name>
        <label>create input representation</label>
        <locationX>643</locationX>
        <locationY>579</locationY>
        <collectionReference>Get_Appeasement_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_AdjustItemInputRepresentation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >Adjust_Order_Item_Summaries_Submit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>1230</locationX>
        <locationY>296</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>appeasement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Invoicing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Process Appeasement flow failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference
        >appeasement.Order_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Refund_create</name>
        <label>Refund</label>
        <locationX>1877</locationX>
        <locationY>762</locationY>
        <inputReference>refund</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Appeasement_Items</name>
        <label>Get Appeasement Items</label>
        <locationX>645</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_input_representation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Appeasement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appeasement.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AppeasementItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Payment_Summary</name>
        <label>Order Payment Summary</label>
        <locationX>1876</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refund_ass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_error_description_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >appeasement.Order_Summary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_appeasement</name>
        <label>Update appeasement</label>
        <locationX>1682</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>Order_Payment_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_error_description_3_0</targetReference>
        </faultConnector>
        <inputReference>appeasement</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>383</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Set_ChangeOrder_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdjustItemInputRepresentation</name>
        <apexClass>ConnectApi__AdjustItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >input for adjustments as stored on the Appeasement</description>
        <name>adjustOrderItemSummaryInputRepresentation</name>
        <apexClass
    >ConnectApi__AdjustOrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdjustOrderSummaryOutputRepresentation</name>
        <apexClass
    >ConnectApi__AdjustOrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>appeasement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Appeasement__c</objectType>
    </variables>
    <variables>
        <name>CreateCreditMemoOutputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refund</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Refund</objectType>
    </variables>
</Flow>
