force-app/main/default/flows/Release_Reservation_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OCI_Release_Reservation</name>
        <label>OCI Release Reservation</label>
        <locationX>1283</locationX>
        <locationY>379</locationY>
        <actionName>ociReleaseReservation</actionName>
        <actionType>ociReleaseReservation</actionType>
        <connector>
            <targetReference>Error_Responses</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exception_Message_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociReleaseReservationInput</name>
            <value>
                <elementReference>ReleaseReservationRequest</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ReleaseReservationResponse</assignToReference>
            <name>ociReleaseReservationOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Create_Reservation_Input</name>
        <label>Create Reservation Input</label>
        <locationX>899</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference
      >SingleReleaseReservation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleReleaseReservation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.FromLocation__r.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleReleaseReservation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.OrderItemSummary__r.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleReleaseReservation.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.FromLocationGroup__r.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleReleaseReservation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleReleaseReservation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reservation_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Reservation_Input_List</name>
        <label>Create Reservation Input List</label>
        <locationX>1024</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference
      >ReleaseReservationRequest.releaseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleReleaseReservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exception_Message</name>
        <label>Exception Message</label>
        <locationX>1526</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Message_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exception_Message_Fault</name>
        <label>Exception Message</label>
        <locationX>1288</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Message_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MAX_OCI_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Errors</name>
        <label>Any Errors?</label>
        <locationX>1742</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Process_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExceptionMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Succeed_Interaction_Order</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached</name>
        <label>Failure Limit Reached?</label>
        <locationX>1280</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Interaction_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.ConnectionFailAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
          >MAX_OCI_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Process_Exception_Max_Failures_Reached</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type?</label>
        <locationX>732</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery Charge</defaultConnectorLabel>
        <rules>
            <name>Item_Is_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Interaction_Order_Items_Loop.OrderItemSummary__r.TypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reservation_Input</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <description>fixed issue in loop</description>
    <environments>Default</environments>
    <formulas>
        <name>Increment_Connection_Failed_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ConnectionFailAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Offset_NOW_By_One_Hour</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (1/24)</expression>
    </formulas>
    <interviewLabel
  >Release Reservation JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release Reservation JDE</label>
    <loops>
        <name>Error_Responses</name>
        <label>Error Responses</label>
        <locationX>1524</locationX>
        <locationY>379</locationY>
        <collectionReference
    >ReleaseReservationResponse.errors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exception_Message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Order_Items_Loop</name>
        <label>Interaction Order Items</label>
        <locationX>802</locationX>
        <locationY>380</locationY>
        <collectionReference>Interaction_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OCI_Release_Reservation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>1751</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Fail_Interaction_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Release Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.OCIReleaseReservationError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Max_Failures_Reached</name>
        <label>Process Exception</label>
        <locationX>1380</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>Abandon_Interaction_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Release Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.OCIConnectionFailedAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Interaction_Order_Items</name>
        <label>Interaction Order Items</label>
        <locationX>553</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCIInteractionOrderSummary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OCIInteractionOrderItemSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Interaction_Order</name>
        <label>Abandon Interaction Order</label>
        <locationX>1377</locationX>
        <locationY>930</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fail_Interaction_Order</name>
        <label>Fail Interaction Order</label>
        <locationX>1751</locationX>
        <locationY>686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Interaction_Order</name>
        <label>Reschedule Interaction Order</label>
        <locationX>1194</locationX>
        <locationY>806</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConnectionFailAttempts__c</field>
            <value>
                <elementReference
        >Increment_Connection_Failed_Attempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>Offset_NOW_By_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Succeed_Interaction_Order</name>
        <label>Succeed Interaction Order</label>
        <locationX>1962</locationX>
        <locationY>376</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <start>
        <locationX>29</locationX>
        <locationY>272</locationY>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RELEASE_RESERVATION</stringValue>
            </value>
        </filters>
        <object>OCIInteractionOrderSummary__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Interaction_Order_Items</targetReference>
            </connector>
            <label>Scheduled</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Schedule__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Message_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >[SKU: {!Error_Responses.details.stockKeepingUnit} - {!Error_Responses.message}]</text>
    </textTemplates>
    <variables>
        <name>CreateReservationInputRepresentation</name>
        <apexClass
    >ConnectApi__OCICreateReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateReservationOutputRepresentation</name>
        <apexClass
    >ConnectApi__OCICreateReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExceptionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReleaseReservationRequest</name>
        <apexClass
    >ConnectApi__OCIReleaseReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReleaseReservationResponse</name>
        <apexClass
    >ConnectApi__OCIReleaseReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseErrorCollection</name>
        <apexClass
    >ConnectApi__OCIReleaseReservationErrorOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleCreateReservationInputRepresentation</name>
        <apexClass
    >ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleReleaseReservation</name>
        <apexClass
    >ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
