force-app/main/default/flows/Return_Order_Post_Actions_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Return_Order_API_callout_to_LSP</name>
        <label>Return Order API callout to LSP</label>
        <locationX>747</locationX>
        <locationY>226</locationY>
        <actionName>RestServiceReturnOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Return_Lines_With_Empty_Quantity_Received_Value</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>returnOrder.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RunAsync</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Return_Order_API_Return_callout_to_Webshop</name>
        <label>Return Order API Return callout to Webshop</label>
        <locationX>572</locationX>
        <locationY>226</locationY>
        <actionName>RestServiceReturnOrderWebshopReturn</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Return_Order_API_callout_to_LSP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>returnOrder.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RunAsync</name>
            <value>
                <elementReference>runIntegrationCallsAsync</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_item_to_collection</name>
        <label>Add item to collection</label>
        <locationX>1128</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>returnLinesUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Return_Lines_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Lines_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity_Received</name>
        <label>Set Quantity Received</label>
        <locationX>976</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>Return_Lines_Loop.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Lines_Loop.QuantityExpected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_item_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Return_Order_Status</name>
        <label>Set Return Order Status</label>
        <locationX>1367</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>returnOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Return_Order</targetReference>
        </connector>
    </assignments>
    <description>Run Integration calls async option added.</description>
    <environments>Default</environments>
    <interviewLabel>Return Order Post Actions JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return Order Post Actions JDE</label>
    <loops>
        <name>Return_Lines_Loop</name>
        <label>Return Lines Loop</label>
        <locationX>1052</locationX>
        <locationY>226</locationY>
        <collectionReference>Get_Return_Lines_With_Empty_Quantity_Received_Value</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Quantity_Received</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Return_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Return_Lines_With_Empty_Quantity_Received_Value</name>
        <label>Get Return Lines With Empty Quantity Received Value</label>
        <locationX>903</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Lines_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>returnOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuantityReceived</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Return_Lines</name>
        <label>Update Return Lines</label>
        <locationX>1226</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Set_Return_Order_Status</targetReference>
        </connector>
        <inputReference>returnLinesUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order</name>
        <label>Update Return Order</label>
        <locationX>1493</locationX>
        <locationY>227</locationY>
        <inputReference>returnOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Return_Order_API_Return_callout_to_Webshop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>returnLinesUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>returnOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>runIntegrationCallsAsync</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
