force-app/main/default/flows/Return_Order_to_LSP_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_to_send_Return_Order</name>
        <label>Call Apex to send Return Order</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>RestServiceReturnOrder</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RetryNumber</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description
  >Manual retrigger of the Return Order export to LSP</description>
    <environments>Default</environments>
    <interviewLabel
  >JDE Return Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return Order to LSP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Send_Return_Order</name>
        <label>Send Return Order</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Apex_to_send_Return_Order</targetReference>
        </connector>
        <fields>
            <name>ReturnOrderFlowText</name>
            <fieldText
      >&lt;p&gt;Please click Send Return Order to send this Return Order {!recordId.ReturnOrderNumber} to Magento&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Return Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Return_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
</Flow>
