force-app/main/default/flows/Routing_Step_3_Execute_Routing_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Fulfillment_Orders</name>
        <label>Create Fulfillment Orders</label>
        <locationX>3044</locationX>
        <locationY>391</locationY>
        <actionName>createFulfillmentOrders</actionName>
        <actionType>createFulfillmentOrders</actionType>
        <connector>
            <targetReference
      >Multiple_Fulfillment_Orders_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Process_Exception_FO</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>multipleFulfillmentOrderInput</name>
            <value>
                <elementReference
        >MultipleFulfillmentOrderInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >MultipleFulfillmentOrderOutputRepresentation</assignToReference>
            <name>multipleFulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Transfer_Reservation</name>
        <label>Transfer Reservation</label>
        <locationX>737</locationX>
        <locationY>402</locationY>
        <actionName>ociTransferReservation</actionName>
        <actionType>ociTransferReservation</actionType>
        <connector>
            <targetReference
      >Transfer_Reservation_Error_Output_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Limit_Reached_TR</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociTransferReservationInputPriority</name>
            <value>
                <elementReference
        >$Record.OrderSummary__r.InventoryTransferAttempts__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ociTransferReservationInput</name>
            <value>
                <elementReference
        >TransferReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >TransferReservationOutputRepresenation</assignToReference>
            <name>ociTransferReservationOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>All_or_Nothing_Flag</name>
        <label>All or Nothing Flag</label>
        <locationX>591</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference
      >TransferReservationInputRepresentation.allOrNothingTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!randomId}{!$Record.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capacity_Interaction_Collection</name>
        <label>Capacity Interaction Collection</label>
        <locationX>1666</locationX>
        <locationY>1892</locationY>
        <assignmentItems>
            <assignToReference
      >FOConfirmOrReleaseCreatedEventCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >FOConfirmOrReleaseCreatedEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >FO_Capacity_Interaction_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capacity_Interaction_Object_Type</name>
        <label>Capacity Interaction Object Type</label>
        <locationX>3611</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>CapacityInteractionObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirm_Held_Capacity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Release_Held_FO_Capacity_Interaction_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Flag</name>
        <label>Error Flag</label>
        <locationX>1059</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference
      >HasErrorsFromOutputRepresentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >TransferReservationErrorMessages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemErrorDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Responses_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FO_Capacity_Interaction_Object</name>
        <label>FO Capacity Interaction</label>
        <locationX>1910</locationX>
        <locationY>1404</locationY>
        <assignmentItems>
            <assignToReference
      >FOCapacityInteractionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FOCapacityInteraction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Release_Held_FO_Capacity_Interaction_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FO_Confirm_Or_Release_Created_Event_Item</name>
        <label>FO Confirm Or Release Created Event Item</label>
        <locationX>1675</locationX>
        <locationY>1732</locationY>
        <assignmentItems>
            <assignToReference
      >FOConfirmOrReleaseCreatedEvent.FOCapacityInteractionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >FO_Capacity_Interaction_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FOConfirmOrReleaseCreatedEvent.OCIInteractionOrderSummaryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capacity_Interaction_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Group_Input</name>
        <label>Fulfillment Group Input</label>
        <locationX>2524</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference
      >FulfillmentGroupInputRepresentation.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FulfillmentGroupInputRepresentation.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >OrderItemSummaryInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FulfillmentGroupInputRepresentation.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Location_Set</name>
        <label>Fulfillment Location</label>
        <locationX>2029</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>FulfillFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop2.ToLocation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_ID</name>
        <label>Fulfillment Order ID</label>
        <locationX>3211</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Multiple_Fulfillment_Orders_Response.fulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Multiple_Fulfillment_Orders_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_Input</name>
        <label>Fulfillment Order Input</label>
        <locationX>2692</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference
      >CreateFOInputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >FulfillmentGroupInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >CreateFOInputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.OrderDeliveryGroupSummary__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >CreateFOInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummary__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Populate_Multiple_FO_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ignore_Availability</name>
        <label>Ignore Availability</label>
        <locationX>538</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference
      >SingleTransferReservationInputRepresenation.ignoreAvailabilityCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Order_Item_Input_List</name>
        <label>Initialize Order Item Input List</label>
        <locationX>1646</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference
      >OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference
        >OrderItemSummaryInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Mismatch_Flag</name>
        <label>Location Mismatch Flag</label>
        <locationX>2133</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>MismatchedLocationsFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Item_Input</name>
        <label>Order Item Input</label>
        <locationX>1696</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference
      >OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop2.OrderItemSummary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop2.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Item_Input_List</name>
        <label>Order Item Input List</label>
        <locationX>1726</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference
      >OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Physical_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Multiple_FO_Input_Representation</name>
        <label>Populate Multiple FO Input Representation</label>
        <locationX>2881</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference
      >MultipleFulfillmentOrderInputRepresentation.fulfillmentOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateFOInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >MultipleFulfillmentOrderInputRepresentation.allOrNothing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Release_Held_FO_Capacity_Interaction</name>
        <label>Release Held FO Capacity Interaction</label>
        <locationX>1305</locationX>
        <locationY>1521</locationY>
        <assignmentItems>
            <assignToReference
      >FOCapacityInteraction.LocationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Release_Held_FO_Capacity_Interaction_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FOCapacityInteraction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >CapacityInteractionObjectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FOCapacityInteraction.RetryCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FO_Capacity_Interaction_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Input</name>
        <label>Transfer Input</label>
        <locationX>226</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference
      >SingleTransferReservationInputRepresenation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >{!Interaction_Order_Items_Loop.Id}{!randomId}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleTransferReservationInputRepresenation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.OCIInteractionOrderSummary__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleTransferReservationInputRepresenation.fromLocationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Source_Location_Group.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleTransferReservationInputRepresenation.toLocationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Target_Location.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleTransferReservationInputRepresenation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >SingleTransferReservationInputRepresenation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Input_List</name>
        <label>Transfer Input List</label>
        <locationX>506</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference
      >TransferReservationInputRepresentation.transferRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >SingleTransferReservationInputRepresenation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Track_Capacity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Reservation_Error_Output_List</name>
        <label>Transfer Reservation Error Output List</label>
        <locationX>900</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference
      >TransferReservationErrorOutputList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >TransferReservationOutputRepresenation.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Responses_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unique_Location_Collection</name>
        <label>Unique Location Collection</label>
        <locationX>623</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>UniqueLocationIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Target_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Location</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MAX_NUMBER_OF_ROUTING_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>MAX_OCI_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Errors</name>
        <label>Any Errors?</label>
        <locationX>1277</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Fail_Interaction_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Any_Errors_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >HasErrorsFromOutputRepresentation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Fulfillment_Order</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Fulfillment_Order</name>
        <label>Existing Fulfillment Order?</label>
        <locationX>1458</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Succeed_Interaction_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Existing_Fulfillment_Order_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.FulfillmentOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Initialize_Order_Item_Input_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Location</name>
        <label>Existing Location?</label>
        <locationX>617</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Unique_Location_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >UniqueLocationIdCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Target_Location.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Order_Items_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached_TR</name>
        <label>Failure Limit Reached?</label>
        <locationX>726</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_TR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_TR_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.ConnectionFailAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
          >MAX_OCI_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_TR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Location</name>
        <label>Fulfillment Location?</label>
        <locationX>1955</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Interaction_Order_Items_Loop2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Matching</defaultConnectorLabel>
        <rules>
            <name>Fulfillment_Location_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillFromLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Location_Set</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
        <rules>
            <name>Fulfillment_Location_Mismatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillFromLocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Interaction_Order_Items_Loop2.ToLocation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Mismatch_Flag</targetReference>
            </connector>
            <label>Mismatched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Order_Exists</name>
        <label>Fulfillment Order Exists?</label>
        <locationX>365</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Transfer_Input_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Fulfillment_Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.FulfillmentOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ignore_Availability</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type?</label>
        <locationX>346</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery Charge</defaultConnectorLabel>
        <rules>
            <name>Type_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Item.TypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Target_Location</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mismatched_Locations</name>
        <label>Mismatched Locations?</label>
        <locationX>2320</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Group_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Mismatched_Locations_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MismatchedLocationsFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_Mismatch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Physical_Product</name>
        <label>Physical Product?</label>
        <locationX>1813</locationX>
        <locationY>776</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Physical_Product_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Interaction_Order_Items_Loop2.OrderItemSummary__r.TypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Order_Items_Loop2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_Attempt_Limit_Reached</name>
        <label>Routing Attempt Limit Reached?</label>
        <locationX>1280</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Increment_Routing_Attempts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Routing_Attempt_Limit_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.OrderSummary__r.RoutingAttempts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
          >MAX_NUMBER_OF_ROUTING_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Track_Capacity</name>
        <label>Track Capacity?</label>
        <locationX>498</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ShouldTrackCapacityYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Target_Location.ShouldTrackFoCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Location</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description
  >fixed a weird error in Decision &apos;Fulfillment Order Exists?&apos; Added Action at the end restservicefulfillmentorder</description>
    <environments>Default</environments>
    <formulas>
        <name>Increment_Order_Summary_Routing_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OrderSummary__r.RoutingAttempts} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IncrementOCIConnectionFailAttempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ConnectionFailAttempts__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OrderItemErrorDetail</name>
        <dataType>String</dataType>
        <expression>{!TransferReservationErrorMessages} &amp; 
SUBSTITUTE(
    SUBSTITUTE(
        SUBSTITUTE({!$Label.Transfer_Reservation_Output_Error_Order_Items}
                                , &quot;{0}&quot;, {!Error_Responses_Loop.details.stockKeepingUnit})
                            , &quot;{1}&quot;, {!Error_Responses_Loop.errorCode})
                        , &quot;{2}&quot;, {!Error_Responses_Loop.message})
&amp;&apos; | &apos;</expression>
    </formulas>
    <formulas>
        <description
    >generate &quot;random&quot; id; works only once a second, will require apex to get real random.</description>
        <name>randomId</name>
        <dataType>String</dataType>
        <expression>(left(right(text(now()),6),2))&amp;
text(DAY(DATEVALUE(now())))&amp;
text(Month(DATEVALUE(now())))&amp;
text(Year(DATEVALUE(now())))&amp;
(left(right(text(now()),3),2))</expression>
    </formulas>
    <formulas>
        <name>TimeOffset</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.1</expression>
    </formulas>
    <interviewLabel
  >Routing Step 3: Execute Routing JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Routing Step 3: Execute Routing JDE</label>
    <loops>
        <description
    >Since the response errors collection returns an empty collection and flow can check the size, we loop on the error response if we fund a value it means that we have an error and set the error variable to true to be check</description>
        <name>Error_Responses_Loop</name>
        <label>Error Responses</label>
        <locationX>1057</locationX>
        <locationY>402</locationY>
        <collectionReference
    >TransferReservationErrorOutputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Error_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FO_Capacity_Interaction_Collection</name>
        <label>FO Capacity Interaction Collection</label>
        <locationX>1462</locationX>
        <locationY>1735</locationY>
        <collectionReference
    >FOCapacityInteractionCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >FO_Confirm_Or_Release_Created_Event_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >Confirm_Or_Release_Created_Event_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Order_Items_Loop</name>
        <label>Interaction Order Items</label>
        <locationX>379</locationX>
        <locationY>398</locationY>
        <collectionReference>Interaction_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_or_Nothing_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Order_Items_Loop2</name>
        <label>Interaction Order Items</label>
        <locationX>1799</locationX>
        <locationY>404</locationY>
        <collectionReference>Interaction_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Item_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mismatched_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Multiple_Fulfillment_Orders_Response</name>
        <label>Multiple Fulfillment Orders Response</label>
        <locationX>3211</locationX>
        <locationY>391</locationY>
        <collectionReference
    >MultipleFulfillmentOrderOutputRepresentation.fulfillmentOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fulfillment_Order_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfillment_Order_Source_Routing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Release_Held_FO_Capacity_Interaction_Items</name>
        <label>Release Held FO Capacity Interaction Items</label>
        <locationX>1460</locationX>
        <locationY>1357</locationY>
        <collectionReference>UniqueLocationIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Release_Held_FO_Capacity_Interaction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Or_Release_Created_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Confirm_Or_Release_Created_Event</name>
        <label>Confirm Or Release Created Event</label>
        <locationX>1464</locationX>
        <locationY>1573</locationY>
        <connector>
            <targetReference
      >FO_Capacity_Interaction_Collection</targetReference>
        </connector>
        <inputReference>FOCapacityInteractionCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Or_Release_Created_Event_Collection</name>
        <label>Confirm Or Release Created Event Collection</label>
        <locationX>1464</locationX>
        <locationY>1962</locationY>
        <inputReference
    >FOConfirmOrReleaseCreatedEventCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Order_Summary_Routing_Schedule</name>
        <label>Order Summary Routing Schedule</label>
        <locationX>1289</locationX>
        <locationY>1133</locationY>
        <connector>
            <targetReference
      >Release_Held_FO_Capacity_Interaction_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderDeliveryGroupSummaryId__c</field>
            <value>
                <elementReference
        >$Record.OrderDeliveryGroupSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>TimeOffset</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>1468</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference
      >Release_Held_FO_Capacity_Interaction_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummary__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference
        >$Label.Transfer_Reservation_Failure_Limit_Reached_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.Transfer_Reservation_Output_Error_message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_FO</name>
        <label>Process Exception</label>
        <locationX>3043</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference
      >Abandon_Interaction_Order_Create_FO_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.OCIFOsCreationError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Mismatch</name>
        <label>Process Exception</label>
        <locationX>2328</locationX>
        <locationY>607</locationY>
        <connector>
            <targetReference
      >Abandon_Interaction_Order_Mismatch</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue
        >$Label.Invalid_Interaction_Order_Summary_Configuration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.Unable_To_Create_Fulfillment_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_TR</name>
        <label>Process Exception</label>
        <locationX>896</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>Abandon_Interaction_Order_TR</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference
        >$Label.OCIConnectionFailedAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.OCIUnableGetResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Interaction_Order_Items</name>
        <label>Interaction Order Items</label>
        <locationX>173</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCIInteractionOrderSummary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OCIInteractionOrderItemSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item</name>
        <label>Order Item</label>
        <locationX>208</locationX>
        <locationY>626</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.OrderItemSummary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IncompleteTransferQuantity__c</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <queriedFields>TypeCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Source_Location_Group</name>
        <label>Source Location Group</label>
        <locationX>232</locationX>
        <locationY>893</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.FromLocationGroup__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LocationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Target_Location</name>
        <label>Target Location</label>
        <locationX>357</locationX>
        <locationY>893</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_Location_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Interaction_Order_Items_Loop.ToLocation__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>ShouldTrackFoCapacity</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Interaction_Order_Create_FO_Error</name>
        <label>Abandon Interaction Order</label>
        <locationX>3043</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference
      >Release_Held_FO_Capacity_Interaction_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Abandon_Interaction_Order_Mismatch</name>
        <label>Abandon Interaction Order</label>
        <locationX>2326</locationX>
        <locationY>821</locationY>
        <connector>
            <targetReference
      >Release_Held_FO_Capacity_Interaction_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Abandon_Interaction_Order_TR</name>
        <label>Abandon Interaction Order</label>
        <locationX>896</locationX>
        <locationY>957</locationY>
        <connector>
            <targetReference
      >Release_Held_FO_Capacity_Interaction_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fail_Interaction_Order</name>
        <label>Fail Interaction Order</label>
        <locationX>1288</locationX>
        <locationY>588</locationY>
        <connector>
            <targetReference>Routing_Attempt_Limit_Reached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Response_Error_Message__c</field>
            <value>
                <elementReference
        >TransferReservationErrorMessages</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fulfillment_Order_Source_Routing</name>
        <label>Fulfillment Order Source: Routing</label>
        <locationX>3427</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Succeed_Interaction_Order_FO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>ROUTING</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Routing_Attempts</name>
        <label>Increment Routing Attempts</label>
        <locationX>1289</locationX>
        <locationY>980</locationY>
        <connector>
            <targetReference>Order_Summary_Routing_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RoutingAttempts</field>
            <value>
                <elementReference
        >Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_TR</name>
        <label>Reschedule Routing</label>
        <locationX>734</locationX>
        <locationY>961</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConnectionFailAttempts__c</field>
            <value>
                <elementReference
        >IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>TimeOffset</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Succeed_Interaction_Order</name>
        <label>Succeed Interaction Order</label>
        <locationX>1464</locationX>
        <locationY>588</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Succeed_Interaction_Order_FO</name>
        <label>Succeed Interaction Order</label>
        <locationX>3612</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Capacity_Interaction_Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FulfillmentOrder__c</field>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <start>
        <locationX>46</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSFER_ROUTING</stringValue>
            </value>
        </filters>
        <object>OCIInteractionOrderSummary__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Routing_Time</name>
            <connector>
                <targetReference>Interaction_Order_Items</targetReference>
            </connector>
            <label>Scheduled Routing Time</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Schedule__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1600</triggerOrder>
    <variables>
        <name>CapacityInteractionObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Release_Held_Capacity</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreateFOInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOCapacityInteraction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FOCapacityInteraction__c</objectType>
    </variables>
    <variables>
        <name>FOCapacityInteractionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FOCapacityInteraction__c</objectType>
    </variables>
    <variables>
        <name>FOConfirmOrReleaseCreatedEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FOConfirmOrReleaseCreatedEvent__e</objectType>
    </variables>
    <variables>
        <name>FOConfirmOrReleaseCreatedEventCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FOConfirmOrReleaseCreatedEvent__e</objectType>
    </variables>
    <variables>
        <name>FulfillFromLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasErrorsFromOutputRepresentation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MismatchedLocationsFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MultipleFulfillmentOrderInputRepresentation</name>
        <apexClass
    >ConnectApi__MultipleFulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultipleFulfillmentOrderOutputRepresentation</name>
        <apexClass
    >ConnectApi__MultipleFulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleTransferReservationInputRepresenation</name>
        <apexClass
    >ConnectApi__OCITransferReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferReservationErrorMessages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferReservationErrorOutputList</name>
        <apexClass
    >ConnectApi__OCITransferReservationErrorOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferReservationInputRepresentation</name>
        <apexClass
    >ConnectApi__OCITransferReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferReservationOutputRepresenation</name>
        <apexClass
    >ConnectApi__OCITransferReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueLocationIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueLocationIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
