force-app/main/default/flows/Routing_Step_2_Determine_Route_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_Input_for_Next_Steps</name>
        <label>Build Input for Next Steps</label>
        <locationX>1490</locationX>
        <locationY>443</locationY>
        <actionName>BuilderFindRoutesUsingOCIAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Valid_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_IE_failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaries</name>
            <value>
                <elementReference>Items_to_Route</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >BuilderFindRoutesUsingOCIOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Find_Routes_with_Fewest_Splits_Using_OCI</name>
        <label>Find Routes with Fewest Splits Using OCI</label>
        <locationX>3657</locationX>
        <locationY>461</locationY>
        <actionName>orderRoutingFindRoutesWithFewestSplitsUsingOCI</actionName>
        <actionType>orderRoutingFindRoutesWithFewestSplitsUsingOCI</actionType>
        <connector>
            <targetReference>Valid_Response_FR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Limit_Reached_TR</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderRoutingFindRoutesWithFewestSplitsUsingOCIInput</name>
            <value>
                <elementReference
        >FindRoutesWithFewestSplitsUsingOCIInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</assignToReference>
            <name>orderRoutingFindRoutesWithFewestSplitsUsingOCIOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Interaction_Orders_Data</name>
        <label>Generate Interaction Orders Data</label>
        <locationX>5041</locationX>
        <locationY>465</locationY>
        <actionName>RoutingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Initialize_Input_Lists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inventoryAvailabilityList</name>
            <value>
                <elementReference
        >InventoryAvailabilityOutputCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationGroupIds</name>
            <value>
                <elementReference
        >BuilderFindRoutesUsingOCIOutput.locationGroupIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderDeliveryGroupSummaryId</name>
            <value>
                <elementReference
        >$Record.OrderDeliveryGroupSummaryId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaries</name>
            <value>
                <elementReference>Items_to_Route</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rankAvailableLocationsToFulfill</name>
            <value>
                <elementReference
        >LocationsToFulfillCollection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InteractionOrdersData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Location_Capacity</name>
        <label>Get Location Capacity</label>
        <locationX>2330</locationX>
        <locationY>450</locationY>
        <actionName>getFulfillmentOrderCapacityValues</actionName>
        <actionType>getFulfillmentOrderCapacityValues</actionType>
        <connector>
            <targetReference>Valid_Response_Get_Capacity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Capacity</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>getFulfillmentOrderCapacityValuesInput</name>
            <value>
                <elementReference
        >GetFOCapacityValuesRequestInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference
      >GetFOCapacityValuesOutputRepresentation</assignToReference>
            <name>getFulfillmentOrderCapacityValuesOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Most_Preferred_Routes</name>
        <label>Get Most Preferred Routes</label>
        <locationX>4632</locationX>
        <locationY>467</locationY>
        <actionName>RoutePriorityAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Preferred_Routes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetLocations</name>
            <value>
                <elementReference
        >AvailableLocationOutputCollection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RoutePriorityOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Availability_Collection</name>
        <label>Availability Collection</label>
        <locationX>4474</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference
      >InventoryAvailabilityOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Results.inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capacity_Values_Request_Input</name>
        <label>Capacity Values Request Input</label>
        <locationX>2200</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference
      >GetFOCapacityValuesRequestInputRepresentation.locationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >BuilderFindRoutesUsingOCIOutput.locationIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Location_Capacity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Interaction_Order</name>
        <label>Current Interaction Order</label>
        <locationX>6174</locationX>
        <locationY>934</locationY>
        <assignmentItems>
            <assignToReference
      >CurrentOCIInteractionOrderSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Orders_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Message_Cap_Null</name>
        <label>Fault Message</label>
        <locationX>2516</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >$Label.FlowErrors_locationCapacityErrorMessage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Limit_Reached_LC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Message_Capacity</name>
        <label>Fault Message</label>
        <locationX>2326</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Limit_Reached_LC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Message_FR</name>
        <label>Fault Message</label>
        <locationX>3798</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_FR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Message_IE_error</name>
        <label>Fault Message</label>
        <locationX>1621</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >BuildAvailabilityInputErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_IE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Message_IE_failure</name>
        <label>Fault Message</label>
        <locationX>1489</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_IE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_Routes_Error_Message</name>
        <label>Find Routes Error Message</label>
        <locationX>3824</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Label.OCI_Find_Routes_With_Fewest_Splits_Output_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_FR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FO_Capacity_Interaction</name>
        <label>FO Capacity Interaction</label>
        <locationX>6451</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference
      >FOCapacityInteractionRecord.LocationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Route_Locations_Loop2.fulfillFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FOCapacityInteractionRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hold_Capacity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FOCapacityInteractionRecord.OCIInteractionOrderSummaryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >CurrentOCIInteractionOrderSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FOCapacityInteractionRecord.RetryCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FO_Capacity_Interaction_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FO_Capacity_Interaction_Count</name>
        <label>FO Capacity Interaction Count</label>
        <locationX>7042</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>FOCapacityInteractionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference
        >FOCapacityInteractionCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Locations_Tracking_Capacity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FO_Capacity_Interaction_List</name>
        <label>FO Capacity Interaction List</label>
        <locationX>6446</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference
      >FOCapacityInteractionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FOCapacityInteractionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FO_Hold_Capacity_Event</name>
        <label>FO Hold Capacity Event</label>
        <locationX>7368</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference
      >FOHoldCapacityCreatedEvent.FOCapacityInteractionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >FO_Capacity_Interaction_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FOHoldCapacityCreatedEvent.OCIInteractionOrderSummaryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >FO_Capacity_Interaction_Collection.OCIInteractionOrderSummaryId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FO_Hold_Capacity_Event_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FO_Hold_Capacity_Event_Collection</name>
        <label>FO Hold Capacity Event Collection</label>
        <locationX>7528</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference
      >FOHoldCapacityCreatedEventCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FOHoldCapacityCreatedEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >FO_Capacity_Interaction_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Interaction_Order_Counter</name>
        <label>Increment Interaction Order Counter</label>
        <locationX>5834</locationX>
        <locationY>988</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Interaction_Order_Count_Location_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Location_Counter</name>
        <label>Increment Location Counter</label>
        <locationX>6126</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>LocationCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Input_Lists</name>
        <label>Initialize Input Lists</label>
        <locationX>5201</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderSummaryCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference
        >OCIInteractionOrderSummaryCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummaryCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference
        >OCIInteractionOrderItemSummaryCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Location_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Location_Counter</name>
        <label>Initialize Location Counter</label>
        <locationX>6062</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>LocationCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Input</name>
        <label>Interaction Order Input</label>
        <locationX>5675</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderSummary.ConnectionFailAttempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderSummary.OrderDeliveryGroupSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >InteractionOrdersData.orderDeliveryGroupSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderSummary.OrderSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >InteractionOrdersData.orderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderSummary.Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderSummary.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderSummary.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCIInteractionOrderType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Input_List</name>
        <label>Interaction Order Input List</label>
        <locationX>5675</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCIInteractionOrderSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input</name>
        <label>Interaction Order Item Input</label>
        <locationX>6393</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummary.FromLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Route_Items_Loop.reservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummary.OCIInteractionOrderSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >CurrentOCIInteractionOrderSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummary.ToLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Route_Locations_Loop2.fulfillFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummary.OrderItemSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Route_Items_Loop.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummary.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummary.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummary.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >CurrentOCIInteractionOrderSummary.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input_List</name>
        <label>Interaction Order Item Input List</label>
        <locationX>6451</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference
      >OCIInteractionOrderItemSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >OCIInteractionOrderItemSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Type_Hold</name>
        <label>Interaction Order Type</label>
        <locationX>5546</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOLD_CAPACITY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Type_Transfer</name>
        <label>Interaction Order Type</label>
        <locationX>5549</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_ROUTING</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Items_to_Route_Count</name>
        <label>Items to Route Count</label>
        <locationX>1190</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>ItemsCollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Items_to_Route</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Items_to_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Record_From_Filter</name>
        <label>Location Record</label>
        <locationX>3105</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LocationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Result_from_Find_Location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_from_Find_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_with_Valid_Capacity</name>
        <label>Location with Valid Capacity</label>
        <locationX>2693</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference
      >AtLeastOneLocationWithCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Capacity_Values_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Locations_To_Exclude</name>
        <label>Locations To Exclude</label>
        <locationX>1776</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>LocationsToExcludeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Rejected_Fulfillment_Orders_Loop.FulfilledFromLocation.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rejected_Fulfillment_Orders_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Locations_to_Exclude_from_Inventory_Collection</name>
        <label>Locations to Exclude from Inventory Collection</label>
        <locationX>2946</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>LocationsToExcludeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >LocationRecord.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Capacity_Values_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Input</name>
        <label>Populate Input</label>
        <locationX>3522</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference
      >FindRoutesWithFewestSplitsUsingOCIInputRepresentation.findRoutesWithFewestSplitsUsingOCIInputs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Find_Routes_with_Fewest_Splits_Using_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Group</name>
        <label>Populate OCI Group</label>
        <locationX>3388</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference
      >FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation.maximumNumberOfSplits</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation.orderedItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >BuilderFindRoutesUsingOCIOutput.orderedItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation.excludeLocations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >LocationsToExcludeCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected_Items_Count</name>
        <label>Rejected Items Count</label>
        <locationX>2058</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>RejectedItemsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Rejected_Fulfillment_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Items_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Location_Record</name>
        <label>Reset Location Record</label>
        <locationX>2951</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>LocationRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >LocationRecord.ExternalReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_from_Find_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_Items</name>
        <label>Route Items</label>
        <locationX>5981</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>RouteItemList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Route_Locations_Loop2.routingItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_Location_List</name>
        <label>Route Location List</label>
        <locationX>5350</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>RouteLocationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >InteractionOrdersData.routingGroupList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_Locations</name>
        <label>Route Locations</label>
        <locationX>4315</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference
      >AvailableLocationOutputCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Results.targetLocations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Availability_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_Locations_Preferred</name>
        <label>Route Locations</label>
        <locationX>4904</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>LocationsToFulfillCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Routes.locations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentLocationsCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preferred_Routes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Target_Locations_Count</name>
        <label>Target Locations Count</label>
        <locationX>3910</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>TargetLocationsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference
        >Find_Route_Responses.targetLocations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Results_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_Results_Count</name>
        <label>Valid Results Count</label>
        <locationX>4030</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>ValidOutputResultsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TargetLocationsCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Route_Responses</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Find_Location</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find Location</label>
        <locationX>2786</locationX>
        <locationY>910</locationY>
        <assignNextValueToReference
    >currentItem_Find_Location</assignNextValueToReference>
        <collectionProcessorType
    >FilterCollectionProcessor</collectionProcessorType>
        <collectionReference
    >BuilderFindRoutesUsingOCIOutput.locations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference
      >currentItem_Find_Location.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference
        >Location_Capacity_Values_Output.locationId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Reset_Location_Record</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>EXCLUDE_LOCATIONS_PREVIOUSLY_ROUTED_TO</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>MAX_NUMBER_OF_ROUTING_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>MAX_OUTBOUND_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Items_Rejected</name>
        <label>Any Items Rejected?</label>
        <locationX>2049</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Rejected_Fulfillment_Orders_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Items_Rejected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RejectedItemsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Locations_To_Exclude</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Items_to_Route</name>
        <label>Any Items to Route?</label>
        <locationX>1320</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Items_to_Route_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ItemsCollectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Input_for_Next_Steps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Results</name>
        <label>Any Results</label>
        <locationX>4121</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>Routing_Attempt_Limit_Reached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Results_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidOutputResultsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Results</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>At_Least_One_Location_With_Capacity_Decision</name>
        <label>At Least One Location with Capacity?</label>
        <locationX>3240</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Process_Exception_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>At_Least_One_Location_With_Capacity_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >AtLeastOneLocationWithCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_OCI_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclude_Rejecting_Locations</name>
        <label>Exclude Rejecting Locations?</label>
        <locationX>1815</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Capacity_Values_Request_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exclude_Rejecting_Locations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >EXCLUDE_LOCATIONS_PREVIOUSLY_ROUTED_TO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Fulfillment_Orders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached_LC</name>
        <label>Failure Limit Reached?</label>
        <locationX>2407</locationX>
        <locationY>825</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_CL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_LC_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.OutboundConnectionFailedAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
          >MAX_OUTBOUND_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached_TR</name>
        <label>Failure Limit Reached?</label>
        <locationX>3650</locationX>
        <locationY>870</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_TR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_TR_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.OutboundConnectionFailedAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
          >MAX_OUTBOUND_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fault_Message_FR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Route</name>
        <label>First Route?</label>
        <locationX>4773</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>Preferred_Routes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>First_Route_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >FulfillmentLocationsCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_Locations_Preferred</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Capacity_to_fulfill</name>
        <label>Has Capacity to fulfill?</label>
        <locationX>2784</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Find_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Capacity_to_fulfill_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >Location_Capacity_Values_Output.error.errorCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAPACITY_NOT_ENABLED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Location_Capacity_Values_Output.capacity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentCapacityFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_with_Valid_Capacity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interaction_Order_Count_Location_Count</name>
        <label>Interaction Order Count = Location Count?</label>
        <locationX>5976</locationX>
        <locationY>1049</locationY>
        <defaultConnector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Interaction_Order_Count_Location_Count_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >OCIInteractionOrderCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Interaction_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interaction_Order_Type</name>
        <label>Interaction Order Type?</label>
        <locationX>6247</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>Route_Locations_Loop2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TRANSFER_ROUTING</defaultConnectorLabel>
        <rules>
            <name>HOLD_CAPACITY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >CurrentOCIInteractionOrderSummary.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOLD_CAPACITY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FO_Capacity_Interaction</targetReference>
            </connector>
            <label>HOLD_CAPACITY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Capacity_Tracked</name>
        <label>Location Capacity Tracked?</label>
        <locationX>5404</locationX>
        <locationY>752</locationY>
        <defaultConnector>
            <targetReference>Interaction_Order_Type_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Location_Capacity_Tracked_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Location_Route.ShouldTrackFoCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Order_Type_Hold</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Locations_Tracking_Capacity</name>
        <label>Locations Tracking Capacity?</label>
        <locationX>7157</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Locations_Tracking_Capacity_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >FOCapacityInteractionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FO_Capacity_Interactions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rejected_Order</name>
        <label>Rejected Order?</label>
        <locationX>1945</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Rejected_Fulfillment_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rejected_Order_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Rejected_Fulfillment_Orders_Loop.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REJECTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Locations_To_Exclude</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_Attempt_Limit_Reached</name>
        <label>Routing Attempt Limit Reached?</label>
        <locationX>4119</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_FR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Routing_Attempt_Limit_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >OrderSummaryRecord.RoutingAttempts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
          >MAX_NUMBER_OF_ROUTING_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Routes_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Output</name>
        <label>Valid Output</label>
        <locationX>1614</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Fault_Message_IE_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Output</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >BuilderFindRoutesUsingOCIOutput.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclude_Rejecting_Locations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Response_FR</name>
        <label>Valid Response?</label>
        <locationX>3818</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Find_Route_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Valid_Response_FR_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Routes_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Response_Get_Capacity</name>
        <label>Valid Response?</label>
        <locationX>2510</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>Fault_Message_Cap_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Valid_Response_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >GetFOCapacityValuesOutputRepresentation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >GetFOCapacityValuesOutputRepresentation.locations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Location_Capacity_Values_Output</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Order Management, OCI, JDE</description>
    <environments>Default</environments>
    <formulas>
        <name>BuildAvailabilityInputErrorMessage</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!$Label.FlowErrors_BuildAvailabilityInputErrorMessage}, &apos;{0}&apos;, {!BuilderFindRoutesUsingOCIOutput.errorMessage})</expression>
    </formulas>
    <formulas>
        <name>CurrentCapacityFormula</name>
        <dataType>Number</dataType>
        <expression
    >{!Location_Capacity_Values_Output.assigned} + {!Location_Capacity_Values_Output.heldCapacity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Increment_Order_Summary_Routing_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!OrderSummaryRecord.RoutingAttempts} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IncrementOCIConnectionFailAttempts</name>
        <dataType>Number</dataType>
        <expression
    >{!$Record.OutboundConnectionFailedAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_Failed_Attempts_plus_One_Hour</name>
        <dataType>DateTime</dataType>
        <expression
    >NOW() + (({!$Record.OutboundConnectionFailedAttempts__c}+1)*(1/24))</expression>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_One_Day</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <interviewLabel
  >Routing Step 2: Determine Route by Splits JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Routing Step 2: Determine Route JDE 2</label>
    <loops>
        <name>Find_Route_Responses</name>
        <label>Find Route Responses</label>
        <locationX>3977</locationX>
        <locationY>463</locationY>
        <collectionReference
    >FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Target_Locations_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FO_Capacity_Interaction_Collection</name>
        <label>FO Capacity Interaction Collection</label>
        <locationX>7453</locationX>
        <locationY>457</locationY>
        <collectionReference
    >FOCapacityInteractionCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FO_Hold_Capacity_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FO_Hold_Capacity_Created_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Orders_Loop</name>
        <label>Interaction Orders</label>
        <locationX>5981</locationX>
        <locationY>870</locationY>
        <collectionReference
    >OCIInteractionOrderSummaryCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Increment_Interaction_Order_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Route_Items_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Location_Capacity_Values_Output</name>
        <label>Location Capacity Values Output</label>
        <locationX>2794</locationX>
        <locationY>463</locationY>
        <collectionReference
    >GetFOCapacityValuesOutputRepresentation.locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Capacity_to_fulfill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >At_Least_One_Location_With_Capacity_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Preferred_Routes</name>
        <label>Preferred Routes</label>
        <locationX>4781</locationX>
        <locationY>467</locationY>
        <collectionReference
    >RoutePriorityOutput.targetLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_Route</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Interaction_Orders_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Rejected_Fulfillment_Orders_Loop</name>
        <label>Rejected Fulfillment Orders</label>
        <locationX>1954</locationX>
        <locationY>649</locationY>
        <collectionReference>Rejected_Fulfillment_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rejected_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Capacity_Values_Request_Input</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Result_from_Find_Location</name>
        <label>Result from Find Location</label>
        <locationX>2950</locationX>
        <locationY>755</locationY>
        <collectionReference>Find_Location</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Location_Record_From_Filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >Locations_to_Exclude_from_Inventory_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Results</name>
        <label>Results</label>
        <locationX>4395</locationX>
        <locationY>463</locationY>
        <collectionReference
    >FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Route_Locations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Most_Preferred_Routes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Items_Loop</name>
        <label>Route Items</label>
        <locationX>6263</locationX>
        <locationY>859</locationY>
        <collectionReference>RouteItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interaction_Order_Item_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Order_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Locations_Loop</name>
        <label>Route Locations</label>
        <locationX>5500</locationX>
        <locationY>465</locationY>
        <collectionReference>RouteLocationList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Location_Route</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Locations_Loop2</name>
        <label>Route Locations</label>
        <locationX>6243</locationX>
        <locationY>461</locationY>
        <collectionReference>RouteLocationList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Location_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>FO_Capacity_Interactions</name>
        <label>FO Capacity Interactions</label>
        <locationX>7313</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference
      >FO_Capacity_Interaction_Collection</targetReference>
        </connector>
        <inputReference>FOCapacityInteractionCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>FO_Hold_Capacity_Created_Events</name>
        <label>FO Hold Capacity Created Events</label>
        <locationX>7632</locationX>
        <locationY>461</locationY>
        <inputReference>FOHoldCapacityCreatedEventCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Order_Items</name>
        <label>Interaction Order Items</label>
        <locationX>6588</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Complete_Routing_Schedule</targetReference>
        </connector>
        <inputReference
    >OCIInteractionOrderItemSummaryCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Orders</name>
        <label>Interaction Orders</label>
        <locationX>5880</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>Initialize_Location_Counter</targetReference>
        </connector>
        <inputReference>OCIInteractionOrderSummaryCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_2</name>
        <label>Process Exception</label>
        <locationX>2417</locationX>
        <locationY>983</locationY>
        <connector>
            <targetReference>Abandon_Routing_Schedule_LC</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Process_Exception_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.FlowErrors_locationCapacityErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_3</name>
        <label>Process Exception</label>
        <locationX>3246</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>Abandon_Routing_Schedule_NLC</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference
        >$Label.FlowErrors_locationCapacityErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.FlowErrors_noLocationWithCapacityErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_FR</name>
        <label>Process Exception</label>
        <locationX>3910</locationX>
        <locationY>867</locationY>
        <connector>
            <targetReference>Abandon_Routing_Schedule_FR</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Process_Exception_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.OCI_Find_Routes_With_Fewest_Splits_Output_Error_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_IE</name>
        <label>Process Exception</label>
        <locationX>1554</locationX>
        <locationY>821</locationY>
        <connector>
            <targetReference>Abandon_Routing_Schedule_IE</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Process_Exception_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.FlowErrors_BuildAvailabilityInputErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Items_to_Route</name>
        <label>Items to Route</label>
        <locationX>1006</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Items_to_Route_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.OrderDeliveryGroupSummaryId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AvailableToFulfillIIncompleteTransferQty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <queriedFields>QuantityAvailableToFulfill</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>ReservedAtLocationId</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <queriedFields>IncompleteReleaseQuantity__c</queriedFields>
        <queriedFields>IncompleteTransferQuantity__c</queriedFields>
        <queriedFields
    >AvailableToFulfillIIncompleteTransferQty__c</queriedFields>
        <queriedFields>TypeCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Location_Route</name>
        <label>Location</label>
        <locationX>5409</locationX>
        <locationY>610</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Capacity_Tracked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Route_Locations_Loop.fulfillFromLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShouldTrackFoCapacity</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Summary</name>
        <label>Order Summary</label>
        <locationX>795</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Items_to_Route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputReference>OrderSummaryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RoutingAttempts</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Rejected_Fulfillment_Items</name>
        <label>Rejected Fulfillment Items</label>
        <locationX>1946</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rejected_Items_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Rejected_Fulfillment_Orders_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RejectedQuantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Rejected_Fulfillment_Orders</name>
        <label>Rejected Fulfillment Orders</label>
        <locationX>1824</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rejected_Fulfillment_Orders_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REJECTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pick Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Routing_Schedule_FR</name>
        <label>Abandon Routing Schedule</label>
        <locationX>3910</locationX>
        <locationY>1052</locationY>
        <connector>
            <targetReference>Increment_Routing_Attempts_FR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Abandon_Routing_Schedule_IE</name>
        <label>Abandon Routing Schedule</label>
        <locationX>1554</locationX>
        <locationY>957</locationY>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Abandon_Routing_Schedule_LC</name>
        <label>Abandon Routing Schedule</label>
        <locationX>2416</locationX>
        <locationY>1119</locationY>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Abandon_Routing_Schedule_NLC</name>
        <label>Abandon Routing Schedule</label>
        <locationX>3245</locationX>
        <locationY>809</locationY>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Routing_Schedule</name>
        <label>Complete Routing Schedule</label>
        <locationX>6740</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Increment_Order_Routing_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>COMPLETED</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Order_Routing_Attempts</name>
        <label>Increment Order Routing Attempts</label>
        <locationX>6895</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>UPDOrderSumStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RoutingAttempts</field>
            <value>
                <elementReference
        >Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Routing_Attempts_FR</name>
        <label>Increment Routing Attempts</label>
        <locationX>4126</locationX>
        <locationY>1052</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RoutingAttempts</field>
            <value>
                <elementReference
        >Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_CL</name>
        <label>Reschedule Routing</label>
        <locationX>2243</locationX>
        <locationY>877</locationY>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference
        >IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference
        >Offset_NOW_by_Failed_Attempts_plus_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_FR</name>
        <label>Reschedule Routing</label>
        <locationX>4126</locationX>
        <locationY>871</locationY>
        <connector>
            <targetReference>Increment_Routing_Attempts_FR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference
        >IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>Offset_NOW_by_One_Day</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_TR</name>
        <label>Reschedule Routing</label>
        <locationX>3493</locationX>
        <locationY>869</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference
        >IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference
        >Offset_NOW_by_Failed_Attempts_plus_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDOrderSumStatus</name>
        <label>UPDOrderSumStatus</label>
        <locationX>6977</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>FO_Capacity_Interaction_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CREATED</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>ALLOCATED</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.OrderSummary</inputReference>
    </recordUpdates>
    <start>
        <locationX>679</locationX>
        <locationY>43</locationY>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ScheduleStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </filters>
        <object>OrderSummaryRoutingSchedule</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Order_Summary</targetReference>
            </connector>
            <label>Scheduled</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ScheduledDatetime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AtLeastOneLocationWithCapacity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AvailableLocationOutputCollection</name>
        <apexClass>ConnectApi__AvailableLocationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuilderFindRoutesUsingOCIOutput</name>
        <apexClass>BuilderFindRoutesUsingOCIOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Find_Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>CurrentOCIInteractionOrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</name>
        <apexClass
    >ConnectApi__FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIInputRepresentation</name>
        <apexClass
    >ConnectApi__FindRoutesWithFewestSplitsUsingOCIInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</name>
        <apexClass
    >ConnectApi__FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOCapacityInteractionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FOCapacityInteraction__c</objectType>
    </variables>
    <variables>
        <name>FOCapacityInteractionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FOCapacityInteractionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FOCapacityInteraction__c</objectType>
    </variables>
    <variables>
        <name>FOHoldCapacityCreatedEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FOHoldCapacityCreatedEvent__e</objectType>
    </variables>
    <variables>
        <name>FOHoldCapacityCreatedEventCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FOHoldCapacityCreatedEvent__e</objectType>
    </variables>
    <variables>
        <name>FulfillmentLocationsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GetFOCapacityValuesOutputRepresentation</name>
        <apexClass
    >ConnectApi__GetFOCapacityValuesOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetFOCapacityValuesRequestInputRepresentation</name>
        <apexClass
    >ConnectApi__GetFOCapacityValuesRequestInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InteractionOrdersData</name>
        <apexClass>RoutingActionOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventoryAvailabilityOutputCollection</name>
        <apexClass
    >ConnectApi__OCIGetInventoryAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItemsCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LocationCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>LocationsToExcludeCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationsToFulfillCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIInteractionOrderCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OCIInteractionOrderItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderItemSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>Process_Exception_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RejectedItemsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RouteItemList</name>
        <apexClass>RoutingItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RouteLocationList</name>
        <apexClass>RoutingGroup</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoutePriorityOutput</name>
        <apexClass>RoutePriorityOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetLocationsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ValidOutputResultsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
