force-app/main/default/flows/Routing_Step_1_Schedule_Routing_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>2460</locationX>
        <locationY>995</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Fulfillment_Orders</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Process_Exception_FO</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>Fulfillment_Order_Inputs</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Delivery_Charge_Item_Input</name>
        <label>Delivery Charge Item Input</label>
        <locationX>1726</locationX>
        <locationY>1126</locationY>
        <assignmentItems>
            <assignToReference
      >OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Charges_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Delivery_Charges_Loop.QuantityAvailableToFulfill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Fulfillment_Group_Input_Delivery_Charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Group_Count</name>
        <label>Delivery Group Count</label>
        <locationX>2752</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference
      >OrderDeliveryGroupSummaryIdsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference
        >OrderDeliveryGroupSummaryIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Delivery_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Group_List</name>
        <label>Delivery Group List</label>
        <locationX>1521</locationX>
        <locationY>936</locationY>
        <assignmentItems>
            <assignToReference>OrderDeliveryGroupSummaryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Order_Delivery_Groups_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_BOPIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Flag</name>
        <label>Fault Flag</label>
        <locationX>413</locationX>
        <locationY>1819</locationY>
        <assignmentItems>
            <assignToReference>HasFault</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Group_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Group_Input_Delivery_Charge</name>
        <label>Fulfillment Group Input</label>
        <locationX>1901</locationX>
        <locationY>1126</locationY>
        <assignmentItems>
            <assignToReference
      >FulfillmentGroupInputRepresentation.orderItemSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Charges_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Location</name>
        <label>Fulfillment Location</label>
        <locationX>325</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Delivery_Group_Products_Loop.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_Input</name>
        <label>Fulfillment Order Input</label>
        <locationX>2052</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference
      >FulfillmentOrderInputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >FulfillmentGroupInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_Input_List</name>
        <label>Fulfillment Order Input List</label>
        <locationX>2053</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference
      >MultipleFulfillmentOrderInputList.fulfillmentOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >FulfillmentOrderInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Delivery_Groups_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FulfillmentGroupInput</name>
        <label>Fulfillment Group Input</label>
        <locationX>1223</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference
      >FulfillmentGroupInputRepresentation.orderItemSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FulfillmentGroupInputRepresentation.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Group_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Fulfillment_Order_Inputs</name>
        <label>Initialize Fulfillment Order Inputs</label>
        <locationX>406</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasFault</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FulfillmentOrderInputRepresentation.fulfillmentGroups</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference
        >FulfillmentOrderInputRepresentation.fulfillmentGroups</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FulfillmentOrderInputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Order_Delivery_Groups_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FulfillmentOrderInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FulfillmentGroupInputRepresentation.orderItemSummaries</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference
        >FulfillmentGroupInputRepresentation.orderItemSummaries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >FulfillmentGroupInputRepresentation.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Group_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Details</name>
        <label>Location Details</label>
        <locationX>717</locationX>
        <locationY>1418</locationY>
        <assignmentItems>
            <assignToReference>SyncEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location.ShouldSyncWithOci</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Synced_with_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Group_Details</name>
        <label>Location Group Details</label>
        <locationX>786</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>SyncEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Location_Group.ShouldSyncWithOci</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Synced_with_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Item_Input</name>
        <label>Order Item Input</label>
        <locationX>1089</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference
      >OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Delivery_Group_Products_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Delivery_Group_Products_Loop.QuantityAvailableToFulfill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FulfillmentGroupInput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routing_Schedule_Input</name>
        <label>Routing Schedule Input</label>
        <locationX>2951</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference
      >OrderSummaryRoutingSchedule.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderSummaryRoutingSchedule.ScheduleStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderSummaryRoutingSchedule.ScheduledDatetime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderSummaryRoutingSchedule.OutboundConnectionFailedAttempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >OrderSummaryRoutingSchedule.OrderDeliveryGroupSummaryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Routing_Schedule_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routing_Schedule_Input_List</name>
        <label>Routing Schedule Input List</label>
        <locationX>3136</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference
      >OrderSummaryRoutingScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderSummaryRoutingSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Groups</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_BOPIS</name>
        <label>Any BOPIS?</label>
        <locationX>1513</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>Order_Delivery_Groups_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_BOPIS_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >FulfillmentGroupInputRepresentation.orderItemSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasFault</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Charges</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_BOPIS_Inputs</name>
        <label>Any BOPIS?</label>
        <locationX>2329</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>Delivery_Group_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_BOPIS_Inputs_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >MultipleFulfillmentOrderInputList.fulfillmentOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Order_Inputs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Delivery_Charges</name>
        <label>Any Delivery Charges?</label>
        <locationX>1809</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Order_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Delivery_Charges_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Charges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Charges_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Delivery_Groups</name>
        <label>Any Delivery Groups?</label>
        <locationX>2878</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Delivery_Groups_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >OrderDeliveryGroupSummaryIdsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Groups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Group_in_List</name>
        <label>Delivery Group in List?</label>
        <locationX>1329</locationX>
        <locationY>917</locationY>
        <defaultConnector>
            <targetReference>Delivery_Group_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Delivery_Group_in_List_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >OrderDeliveryGroupSummaryIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference
          >Order_Delivery_Groups_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_BOPIS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Group_Product_Fault</name>
        <label>Delivery Group Product Fault?</label>
        <locationX>890</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>Location_Group_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Delivery_Group_Product_Fault_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasFault</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Delivery_Groups_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Location_Set</name>
        <label>Fulfillment Location Set?</label>
        <locationX>316</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Fulfillment_Location_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Product_Fulfillment_Locations_Match</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_BOPIS</name>
        <label>Is Product BOPIS?</label>
        <locationX>935</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Delivery_Group_Products_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Product_BOPIS_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Delivery_Group_Products_Loop.ReservedAtLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>131</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Group_Set</name>
        <label>Location Group?</label>
        <locationX>1140</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Any_BOPIS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Location_Group_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationGroupId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Group_in_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Product_Fault</name>
        <label>Prior Product Fault?</label>
        <locationX>131</locationX>
        <locationY>966</locationY>
        <defaultConnector>
            <targetReference>Reserved_at_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Prior_Product_Fault_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasFault</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Group_Products_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Fulfillment_Locations_Match</name>
        <label>Product, Fulfillment Locations Match?</label>
        <locationX>527</locationX>
        <locationY>1144</locationY>
        <defaultConnector>
            <targetReference
      >Process_Exception_Location_Mismatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Product_Fulfillment_Locations_Match_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >Delivery_Group_Products_Loop.ReservedAtLocationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Synced_with_OCI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reserved_at_Location</name>
        <label>Reserved at Location?</label>
        <locationX>131</locationX>
        <locationY>1143</locationY>
        <defaultConnector>
            <targetReference>Process_Exception_No_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Reserved_at_Location_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Delivery_Group_Products_Loop.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Location_Set</targetReference>
            </connector>
            <label>Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Synced_with_OCI</name>
        <label>Synced with OCI?</label>
        <locationX>778</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Process_Exception_Unsynced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Synced_with_OCI_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SyncEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Product_BOPIS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type?</label>
        <locationX>317</locationX>
        <locationY>1483</locationY>
        <defaultConnector>
            <targetReference>Location_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Group</defaultConnectorLabel>
        <rules>
            <name>Type_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>131</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location</targetReference>
            </connector>
            <label>Location</label>
        </rules>
    </decisions>
    <description>Order Management, OCI, JDE</description>
    <environments>Default</environments>
    <formulas>
        <name>GetLocationMismatchErrorMessage</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!$Label.FlowErrors_locationGroupMismatchErrorMessage}, &apos;{0}&apos;, {!Delivery_Group_Products_Loop.StockKeepingUnit})</expression>
    </formulas>
    <formulas>
        <name>GetReservationNotSetErrorMessage</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!$Label.FlowErrors_reservedAtLocationIdIsNotSetErrorMessage}, &apos;{0}&apos;, {!Delivery_Group_Products_Loop.StockKeepingUnit})</expression>
    </formulas>
    <formulas>
        <name>GetUnsyncedLocationErrorMessage</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!$Label.FlowErrors_locationGroupIsNotEnabledErrorMessage}, &apos;{0}&apos;, {!LocationId})</expression>
    </formulas>
    <interviewLabel
  >Routing Step 1: Schedule Routing JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Routing Step 1: Schedule Routing JDE</label>
    <loops>
        <name>Delivery_Charges_Loop</name>
        <label>Delivery Charges</label>
        <locationX>1819</locationX>
        <locationY>927</locationY>
        <collectionReference>Delivery_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delivery_Charge_Item_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfillment_Order_Input</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Delivery_Group_Products_Loop</name>
        <label>Delivery Group Products</label>
        <locationX>405</locationX>
        <locationY>780</locationY>
        <collectionReference>Delivery_Group_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prior_Product_Fault</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delivery_Group_Product_Fault</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Delivery_Groups</name>
        <label>Delivery Groups</label>
        <locationX>3034</locationX>
        <locationY>241</locationY>
        <collectionReference>OrderDeliveryGroupSummaryIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Routing_Schedule_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Summary_Routing_Schedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Fulfillment_Order_Inputs</name>
        <label>Fulfillment Order Inputs</label>
        <locationX>2459</locationX>
        <locationY>597</locationY>
        <collectionReference
    >MultipleFulfillmentOrderInputList.fulfillmentOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delivery_Group_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Fulfillment_Orders</name>
        <label>Fulfillment Orders</label>
        <locationX>2844</locationX>
        <locationY>807</locationY>
        <collectionReference
    >Create_Fulfillment_Order.fulfillmentOrderOutput.fulfillmentOrderIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fulfillment_Order_Source</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfillment_Order_Inputs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Delivery_Groups_Loop</name>
        <label>Order Delivery Groups</label>
        <locationX>405</locationX>
        <locationY>259</locationY>
        <collectionReference>Order_Delivery_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delivery_Group_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_BOPIS_Inputs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Order_Summary_Routing_Schedule</name>
        <label>Order Summary Routing Schedule</label>
        <locationX>3280</locationX>
        <locationY>244</locationY>
        <inputReference>OrderSummaryRoutingScheduleCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_FO</name>
        <label>Process Exception</label>
        <locationX>2568</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>Fulfillment_Order_Inputs</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.Unable_To_Create_Fulfillment_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Location_Mismatch</name>
        <label>Process Exception</label>
        <locationX>539</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Fault_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference
        >GetLocationMismatchErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.FlowErrors_locationGroupMismatchErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_No_Location</name>
        <label>Process Exception</label>
        <locationX>139</locationX>
        <locationY>1818</locationY>
        <connector>
            <targetReference>Fault_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference
        >GetReservationNotSetErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.FlowErrors_reservedAtLocationIdIsNotSetErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Unsynced</name>
        <label>Process Exception</label>
        <locationX>964</locationX>
        <locationY>1650</locationY>
        <connector>
            <targetReference>Fault_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference
        >GetUnsyncedLocationErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference
        >$Label.FlowErrors_locationGroupIsNotEnabledErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Delivery_Charges</name>
        <label>Delivery Charges</label>
        <locationX>1679</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Delivery_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Order_Delivery_Groups_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypeCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToFulfill</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityAvailableToFulfill</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Delivery_Group_Products</name>
        <label>Delivery Group Products</label>
        <locationX>405</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Initialize_Fulfillment_Order_Inputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Order_Delivery_Groups_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToFulfill</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>TypeCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ReservedAtLocationId</queriedFields>
        <queriedFields>QuantityAvailableToFulfill</queriedFields>
        <queriedFields>OrderDeliveryGroupSummaryId</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Location</name>
        <label>Location</label>
        <locationX>606</locationX>
        <locationY>1418</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Delivery_Group_Products_Loop.ReservedAtLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>ShouldSyncWithOci</queriedFields>
        <queriedFields>LocationType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Location_Group</name>
        <label>Location Group</label>
        <locationX>629</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Group_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LocationGroup</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShouldSyncWithOci</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Delivery_Groups</name>
        <label>Order Delivery Groups</label>
        <locationX>177</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Delivery_Groups_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderDeliveryGroupSummaryNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Fulfillment_Order_Source</name>
        <label>Source = ROUTING</label>
        <locationX>3040</locationX>
        <locationY>807</locationY>
        <connector>
            <targetReference>Fulfillment_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fulfillment_Orders</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>ROUTING</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>In Store Pickup</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Order_Delivery_Groups</targetReference>
        </connector>
        <object>OrderSummaryCreatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasFault</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LocationGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultipleFulfillmentOrderInputList</name>
        <apexClass
    >ConnectApi__MultipleFulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryIdsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryRoutingSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummaryRoutingSchedule</objectType>
    </variables>
    <variables>
        <name>OrderSummaryRoutingScheduleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummaryRoutingSchedule</objectType>
    </variables>
    <variables>
        <name>SyncEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
