force-app/main/default/flows/Survey_Result_Create_Recommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description
    >Check if we are not including records with empty fields.</description>
        <name>Check_CM</name>
        <label>Check CM</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CM</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>RankValue</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Through_CM.Rank__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel
  >Survey Result - Create Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Result - Create Recommendation</label>
    <loops>
        <description
    >We need to loop through all the labels in the CM, so we can create a survey result for each rank.</description>
        <name>Loop_Through_CM</name>
        <label>Loop Through CM</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_CM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Survey_Result</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Result</name>
        <label>Create Survey Result</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Through_CM</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference
        >Loop_Through_CM.Recommendation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <elementReference>RankValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Campaign_Profile__c</field>
            <value>
                <elementReference
        >$Record.Survey_Campaign_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference
        >Loop_Through_CM.Recommendation_Value__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CM</name>
        <label>Get CM</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Recommendation__mdt</object>
        <sortField>Rank__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Survey_Result__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
