force-app/main/default/flows/Transfer_Back_Reservation_Schedule_Rerouting_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Transfer_Reservation</name>
        <label>Transfer Reservation</label>
        <locationX>1068</locationX>
        <locationY>468</locationY>
        <actionName>ociTransferReservation</actionName>
        <actionType>ociTransferReservation</actionType>
        <connector>
            <targetReference>Error_Responses</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exception_Message_IA</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociTransferReservationInput</name>
            <value>
                <elementReference>TransferReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TransferReservationOutputRepresenation</assignToReference>
            <name>ociTransferReservationOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Exception_Message</name>
        <label>Exception Message</label>
        <locationX>1232</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Error_Message_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exception_Message_IA</name>
        <label>Exception Message</label>
        <locationX>1062</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Input_List</name>
        <label>Transfer Input List</label>
        <locationX>772</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TransferReservationInputRepresentation.transferRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTransferReservationInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfillment_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Reservation_Input</name>
        <label>Transfer Reservation Input</label>
        <locationX>573</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresentation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.OCIInteractionFulfillOrder__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresentation.fromLocationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.FromLocation__r.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresentation.toLocationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.ToLocationGroup__r.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.FulfillmentOrderItem__r.OrderItemSummary.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_Input_List</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MAX_NUMBER_OF_ROUTING_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>MAX_OCI_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Errors</name>
        <label>Any Errors?</label>
        <locationX>1435</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>Process_Exception_ERR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Any_Errors_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExceptionMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_FO_Rejected_and_Not_In_Store_Pickup</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached</name>
        <label>Failure Limit Reached?</label>
        <locationX>1054</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConnectionFailedAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_OCI_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FO_Canceled</name>
        <label>Is FO Canceled?</label>
        <locationX>165</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Is_FO_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_FO_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder__r.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCELLED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Fulfillment_Order_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FO_Rejected</name>
        <label>Is FO Rejected?</label>
        <locationX>162</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Interaction_Fulfillment_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_FO_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder__r.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REJECTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_In_Store_Pickup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FO_Rejected_and_Not_In_Store_Pickup</name>
        <label>Is FO Rejected and Not In-Store Pickup?</label>
        <locationX>1670</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Succeed_Interaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_FO_Rejected_and_Not_In_Store_Pickup</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder__r.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REJECTED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Store Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pick Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routing_Attempt_Limit_Reached</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_In_Store_Pickup</name>
        <label>Is In-Store Pickup?</label>
        <locationX>362</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>Interaction_Fulfillment_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_In_Store_Pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Store Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_Rejected_In_Store_Pickup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_Attempt_Limit_Reached</name>
        <label>Routing Attempt Limit Reached?</label>
        <locationX>1837</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Order_Delivery_Group_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Routing_Attempt_Limit_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder__r.OrderSummary.RoutingAttempts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_NUMBER_OF_ROUTING_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_Rejection_Limit_Reached</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Increment_Connection_Failed_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ConnectionFailedAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Increment_Order_Summary_Routing_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.FulfillmentOrder__r.OrderSummary.RoutingAttempts} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_One_Hour</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (1/24)</expression>
    </formulas>
    <interviewLabel>Transfer Back Reservation &amp; Schedule Rerouting JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Back Reservation &amp; Schedule Rerouting JDE</label>
    <loops>
        <name>Error_Responses</name>
        <label>Error Responses</label>
        <locationX>1234</locationX>
        <locationY>468</locationY>
        <collectionReference>TransferReservationOutputRepresenation.errors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exception_Message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Fulfillment_Order_Items_Loop</name>
        <label>Interaction Fulfillment Order Items</label>
        <locationX>682</locationX>
        <locationY>469</locationY>
        <collectionReference>Interaction_Fulfillment_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transfer_Reservation_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Transfer_Reservation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Order_Summary_Routing_Schedule</name>
        <label>Order Summary Routing Schedule</label>
        <locationX>2169</locationX>
        <locationY>834</locationY>
        <connector>
            <targetReference>Succeed_Interaction</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderDeliveryGroupSummaryId__c</field>
            <value>
                <elementReference>OrderDeliveryGroupSummaryNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>1152</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>Abandon_Interaction_Fulfillment_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Cancel FO - Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCIConnectionFailedAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_ERR</name>
        <label>Process Exception</label>
        <locationX>1443</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Fail_Interaction</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Cancel FO - Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.OCITransferReservationError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Rejected_In_Store_Pickup</name>
        <label>Process Exception</label>
        <locationX>371</locationX>
        <locationY>914</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Cancel FO - Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.FlowErrors_FORejectedInStorePickupErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Rejection_Limit_Reached</name>
        <label>Process Exception</label>
        <locationX>1998</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Succeed_Interaction</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.Reservation_Rejection_Limit_Reached_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.Reservation_Rejection_Limit_Reached_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Interaction_Fulfillment_Order_Items</name>
        <label>Interaction Fulfillment Order Items</label>
        <locationX>376</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Fulfillment_Order_Items_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCIInteractionFulfillOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OCIInteractionFulfillOrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Delivery_Group_Summary</name>
        <label>Order Delivery Group Summary</label>
        <locationX>1847</locationX>
        <locationY>834</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Summary_Routing_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryGroupSummary</object>
        <outputAssignments>
            <assignToReference>OrderDeliveryGroupSummaryNumber</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Interaction_Fulfillment_Order</name>
        <label>Abandon Interaction Fulfillment Order</label>
        <locationX>1152</locationX>
        <locationY>1063</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fail_Interaction</name>
        <label>Fail Interaction</label>
        <locationX>1443</locationX>
        <locationY>845</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Transfer</name>
        <label>Reschedule Transfer</label>
        <locationX>966</locationX>
        <locationY>913</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConnectionFailedAttempts__c</field>
            <value>
                <elementReference>Increment_Connection_Failed_Attempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>Offset_NOW_by_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Succeed_Interaction</name>
        <label>Succeed Interaction</label>
        <locationX>2169</locationX>
        <locationY>464</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSFER_CANCEL</stringValue>
            </value>
        </filters>
        <object>OCIInteractionFulfillOrder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Is_FO_Canceled</targetReference>
            </connector>
            <label>Scheduled</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Schedule__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Message_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[SKU: {!Error_Responses.details.stockKeepingUnit} - {!Error_Responses.message}]</text>
    </textTemplates>
    <variables>
        <name>ExceptionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleTransferReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCITransferReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCITransferReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferReservationOutputRepresenation</name>
        <apexClass>ConnectApi__OCITransferReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
