force-app/main/default/flows/Validate_Return_Items_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Item_to_Collection</name>
        <label>Add Item to Collection</label>
        <locationX>1842</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>outputChangeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Change_Items_Loop_to_Set_Shipping_Flag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Change_Items_Loop_to_Set_Shipping_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_the_item_from_collection</name>
        <label>Remove the item from collection</label>
        <locationX>877</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Summaries</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>Order_Items_Cleanup_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Cleanup_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_Counts</name>
        <label>Set Collection Counts</label>
        <locationX>1194</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>changeItemsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>changeItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Order_Item_Summaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Partial_Return_On_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partial_Return_to_True</name>
        <label>Set Partial Return to True</label>
        <locationX>1192</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>anyPartialReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Summaries_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Reduction_Flag_to_True</name>
        <label>Set Shipping Reduction Flag to True</label>
        <locationX>1657</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference
      >Change_Items_Loop_to_Set_Shipping_Flag.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shippingReductionFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Reduction_to_False</name>
        <label>Set Shipping Reduction to False</label>
        <locationX>1536</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Change_Items_Loop_to_Set_Shipping_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Reduction_to_True</name>
        <label>Set Shipping Reduction to True</label>
        <locationX>1541</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Change_Items_Loop_to_Set_Shipping_Flag</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Partial_Return_On_Item</name>
        <label>Check If Partial Return On Item</label>
        <locationX>1188</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Order_Item_Summaries_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Change_Items_Loop.quantity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference
          >Order_Item_Summaries_Loop.QuantityAvailableToReturn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Partial_Return_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Partial_Return_On_Order</name>
        <label>Check If Partial Return On Order</label>
        <locationX>1352</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Set_Shipping_Reduction_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partial</defaultConnectorLabel>
        <rules>
            <name>Full_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>anyPartialReturn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderItemsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>changeItemsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Set_Shipping_Reduction_to_True</targetReference>
            </connector>
            <label>Full Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quantity</name>
        <label>Check Quantity</label>
        <locationX>666</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Order_Items_Cleanup_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Available</defaultConnectorLabel>
        <rules>
            <name>Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Order_Items_Cleanup_Loop.Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference
          >Order_Items_Cleanup_Loop.QuantityReturnInitiated</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Remove_the_item_from_collection</targetReference>
            </connector>
            <label>Less Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Correct_Order_Product</name>
        <label>Find Correct Order Product</label>
        <locationX>998</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Order_Item_Summaries_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Product_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Change_Items_Loop.orderItemSummaryId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >Order_Item_Summaries_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Check_If_Partial_Return_On_Item</targetReference>
            </connector>
            <label>Product Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>activeAvailableQuantity</name>
        <dataType>Number</dataType>
        <expression
    >{!Order_Item_Summaries_Loop.Quantity}-{!Order_Item_Summaries_Loop.QuantityReturnInitiated}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel
  >Validate Return Items JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Return Items JDE</label>
    <loops>
        <name>Change_Items_Loop</name>
        <label>Change Items Loop</label>
        <locationX>1001</locationX>
        <locationY>234</locationY>
        <collectionReference>changeItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Item_Summaries_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Collection_Counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Change_Items_Loop_to_Set_Shipping_Flag</name>
        <label>Change Items Loop to Set Shipping Flag</label>
        <locationX>1754</locationX>
        <locationY>216</locationY>
        <collectionReference>changeItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Set_Shipping_Reduction_Flag_to_True</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Order_Item_Summaries_Loop</name>
        <label>Order Item Summaries Loop</label>
        <locationX>1005</locationX>
        <locationY>428</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Correct_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Items_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Items_Cleanup_Loop</name>
        <label>Order Items Cleanup Loop</label>
        <locationX>772</locationX>
        <locationY>233</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Items_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>572</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Items_Cleanup_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Order_Item_Summaries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>anyPartialReturn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>changeItems</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>orderItemsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>orderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputChangeItems</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingReductionFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
